codecenter-sdk-client/src/main/config/wsdl/attributeApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AttributeApiService" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:attributeApi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:attributeApi" xmlns:ns1="urn:codecenter.blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:fault" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:fault">
  <xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails"/>
  <xs:complexType name="sdkFaultDetails">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="causedByErrors" nillable="true" type="tns:sdkError"/>
      <xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="extension restriction" name="sdkError">
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="errorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO_COMPONENT_ID_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_NAMEVERSION_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENT_ID_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENT_NAME_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_FOR_KBCOMPONENT_ID_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_FOR_KBCOMPONENT_NAME_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_FOR_KBCOMPONENT_RELEASE_ID_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_FOR_KBCOMPONENT_RELEASE_NAMEVERSION_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENTRELEASE_ID_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENTRELEASE_NAMEVERSION_FOUND"/>
      <xs:enumeration value="NO_KB_COMPONENT_FOUND"/>
      <xs:enumeration value="NO_APPLICATION_ID_FOUND"/>
      <xs:enumeration value="NO_APPLICATION_NAMEVERISON_FOUND"/>
      <xs:enumeration value="APPLICATION_CREATE_NONAME"/>
      <xs:enumeration value="APPLICATION_CREATE_NOVERSION"/>
      <xs:enumeration value="APPLICATION_UPDATE_NONAME"/>
      <xs:enumeration value="APPLICATION_UPDATE_NOVERSION"/>
      <xs:enumeration value="APPLICATION_CREATE_INVALID_ROLE"/>
      <xs:enumeration value="APPLICATION_UPDATE_INVALID_ROLE"/>
      <xs:enumeration value="APPLICATION_UPDATE_OWNER_ROLE_REQUIRED"/>
      <xs:enumeration value="DATE_CANNOT_BE_NULL"/>
      <xs:enumeration value="NO_USER_NAME_FOUND"/>
      <xs:enumeration value="NO_USER_ID_FOUND"/>
      <xs:enumeration value="NO_USER_ID_OR_USERNAME_FOUND"/>
      <xs:enumeration value="APPLICATION_NAME_TOO_LONG"/>
      <xs:enumeration value="NO_WORKFLOW_NAME_FOUND"/>
      <xs:enumeration value="NO_WORKFLOW_ID_FOUND"/>
      <xs:enumeration value="NO_ROLE_NAME_FOUND"/>
      <xs:enumeration value="NO_ROLE_ID_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTE_NAME_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTE_VALUE_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTE_ID_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTEGROUP_NAME_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTEGROUP_ID_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_ATTRIBUTEGROUP_NAME_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_ATTRIBUTEGROUP_ID_FOUND"/>
      <xs:enumeration value="NO_REQUEST_FOUND"/>
      <xs:enumeration value="NO_REQUEST_ID_FOUND"/>
      <xs:enumeration value="NO_REQUEST_LICENSE_FOUND"/>
      <xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="INVALID_CREDENTIALS"/>
      <xs:enumeration value="INSUFFICIENT_PERMISSION"/>
      <xs:enumeration value="SDK_LICENSE_UNAVAILABLE"/>
      <xs:enumeration value="SDK_LICENSE_EXPIRED"/>
      <xs:enumeration value="UNKNOWN_ERROR"/>
      <xs:enumeration value="GENERIC_ERROR"/>
      <xs:enumeration value="TASK_NOT_PRESENT"/>
      <xs:enumeration value="NO_PERMISSION_UPDATE_REQUEST_LICENSE"/>
      <xs:enumeration value="TODO_CONVERT_EXCEPTION"/>
      <xs:enumeration value="INVALID_SORT_KEY"/>
      <xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR"/>
      <xs:enumeration value="CLIENT_WRITING_ERROR"/>
      <xs:enumeration value="PAGE_FILTER_NULL"/>
      <xs:enumeration value="PAGE_FILTER_INVALID_FIRSTROW"/>
      <xs:enumeration value="PAGE_FILTER_INVALID_LASTROW"/>
      <xs:enumeration value="PAGE_FILTER_INVALID_RANGE"/>
      <xs:enumeration value="PROTEX_SERVER_USER_ASSOCIATED"/>
      <xs:enumeration value="PROTEX_SERVER_CREDENTIALS_ASSOCIATED"/>
      <xs:enumeration value="APPROVAL_RULE_NOT_VALID_ATTRIBUTE"/>
      <xs:enumeration value="APPROVAL_RULE_NOT_VALID_ATTRIBUTE_TYPE"/>
      <xs:enumeration value="APPROVAL_RULE_NOT_VALID"/>
      <xs:enumeration value="NO_LICENSE_ID_FOUND"/>
      <xs:enumeration value="NO_LICENSE_NAME_FOUND"/>
      <xs:enumeration value="NO_SERVER_ID_FOUND"/>
      <xs:enumeration value="NO_SERVER_NAME_FOUND"/>
      <xs:enumeration value="NO_PROTEX_PROJECT_ASSOCIATED"/>
      <xs:enumeration value="NO_PROJECT_ID_FOUND"/>
      <xs:enumeration value="NO_PROJECT_NAME_FOUND"/>
      <xs:enumeration value="NO_CREDENTIALS_FOUND"/>
      <xs:enumeration value="PROTEX_SERVER_NOT_REACHABLE"/>
      <xs:enumeration value="NO_PROTEX_PROJECT_FOUND"/>
      <xs:enumeration value="PROJECT_ALREADY_ASSOCIATED"/>
      <xs:enumeration value="APPLICATION_ALREADY_ASSOCIATED"/>
      <xs:enumeration value="PROTEX_SDK_FAULT"/>
      <xs:enumeration value="WEBSERVICE_EXCEPTION"/>
      <xs:enumeration value="NO_APPLICATION_WITH_ASSOCIATED_PROTEX_PROJECT_FOUND"/>
      <xs:enumeration value="APPLICATION_NOT_ASSOCIATED_WITH_PROTEX_PROJECT"/>
      <xs:enumeration value="NO_APPLICATION_ASSOCIATED_TO_PROTEX_PROJECT"/>
      <xs:enumeration value="NO_PROTEX_SERVER_ASSOCIATED_WITH_APPLICATION_FOUND"/>
      <xs:enumeration value="INVALID_PROTEX_CREDENTIALS_FOR_SUB_PROJECTS_FOUND"/>
      <xs:enumeration value="APPLICATIN_NO_VALIDATION"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_ID_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_NAME_FOUND"/>
      <xs:enumeration value="NO_TASK_DEFINITION_ID_FOUND"/>
      <xs:enumeration value="NO_TASK_DEFINITION_NAME_FOUND"/>
      <xs:enumeration value="INVALID_APPLICATION_STATIC_FIELD_ENUM_FOUND"/>
      <xs:enumeration value="INVALID_COMPONENT_STATIC_FIELD_ENUM_FOUND"/>
      <xs:enumeration value="INVALID_COMPONENTUSE_STATIC_FIELD_ENUM_FOUND"/>
      <xs:enumeration value="NO_NULL_COMPONENT_NAME_VERSION"/>
      <xs:enumeration value="NO_EMPTY_COMPONENT_NAME_VERSION"/>
      <xs:enumeration value="NO_NULL_COMPONENT_ATTACHMENT_ID"/>
      <xs:enumeration value="NO_EMPTY_COMPONENT_ATTACHMENT_ID"/>
      <xs:enumeration value="NO_NULL_APPROVAL_STATUS"/>
      <xs:enumeration value="NO_EMPTY_TRANSITION_NAME"/>
      <xs:enumeration value="NO_GLOBAL_APPROVAL_CRITERIA_ID_FOUND"/>
      <xs:enumeration value="NO_GLOBAL_APPROVAL_CRITERIA_FOUND_FOR_COMPONENT_APPROVAL"/>
      <xs:enumeration value="NO_TANSITION_NAME_FOUND"/>
      <xs:enumeration value="NO_NULL_TASKINSTANCE_ID"/>
      <xs:enumeration value="NO_NULL_PASSWORD"/>
      <xs:enumeration value="NO_EMPTY_PASSWORD"/>
      <xs:enumeration value="NO_NULL_USER_NAME"/>
      <xs:enumeration value="NO_NULL_NAME_FOR_CLONE_APPLICATION"/>
      <xs:enumeration value="NO_NULL_VERSION_FOR_CLONE_APPLICATION"/>
      <xs:enumeration value="NO_NULL_APPROVAL_NAME"/>
      <xs:enumeration value="ERROR_READING_INPUT_FILE_STREAM"/>
      <xs:enumeration value="NO_BOARD_ID_FOUND"/>
      <xs:enumeration value="NO_BOARD_NAME_FOUND"/>
      <xs:enumeration value="NO_NULL_COMPONENT_VERSION"/>
      <xs:enumeration value="NO_NULL_COMPONENT_NAME"/>
      <xs:enumeration value="NO_NULL_APPLICATION_VERSION"/>
      <xs:enumeration value="NO_NULL_APPLICATION_NAME"/>
      <xs:enumeration value="NO_LATEST_WORKFLOW_VERSION"/>
      <xs:enumeration value="NO_ATTACHMENT_FOUND_WITH_NAME"/>
      <xs:enumeration value="APPLICATION_CREATE_BEAN_NULL"/>
      <xs:enumeration value="APPLICATION_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="APPROVAL_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="COMPONENT_CREATE_BEAN_NULL"/>
      <xs:enumeration value="COMPONENT_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="COMPONENT_ATTACHMENT_CREATE_BEAN_NULL"/>
      <xs:enumeration value="REQUEST_CREATE_BEAN_NULL"/>
      <xs:enumeration value="REQUEST_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="REQUEST_ALREADY_SUBMITTED"/>
      <xs:enumeration value="USER_CREATE_BEAN_NULL"/>
      <xs:enumeration value="USER_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="REQUIRED_ATTRIBUTE_ID_NOT_FOUND"/>
      <xs:enumeration value="REQUIRED_ATTRIBUTE_VALUE_EMPTY"/>
      <xs:enumeration value="NO_VALID_ATTRIBUTE_GROUP_TYPE_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_CRITERIA_ID_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_CRITERIA_FOUND_FOR_REQUEST_APPROVAL"/>
      <xs:enumeration value="NO_NULL_TASK_INSTANCE_ID"/>
      <xs:enumeration value="NO_ATTACHMENT_FOUND_WITH_ID"/>
      <xs:enumeration value="ATTACHMENT_IO_ERROR"/>
      <xs:enumeration value="ATTACHMENT_SQL_ERROR"/>
      <xs:enumeration value="NOT_A_DEVELOPER_USER"/>
      <xs:enumeration value="NO_APPEAL_ACTION_FOUND_FOR_REQUEST"/>
      <xs:enumeration value="ATTRIBUTE_BEAN_FOUND_NULL"/>
      <xs:enumeration value="ATTRIBUTE_NAME_FOUND_WITH_NULL"/>
      <xs:enumeration value="ATTRIBUTE_TYPE_FOUND_WITH_NULL"/>
      <xs:enumeration value="VULNERABILITY_STATUS_BEAN_FOUND_NULL"/>
      <xs:enumeration value="VULNERABILITY_STATUS_BEAN_FOUND_UPDATE"/>
      <xs:enumeration value="VULNERABILITY_STATUS_NAME_FOUND_NULL"/>
      <xs:enumeration value="NO_VULNERABILITY_STATUS_ID_FOUND"/>
      <xs:enumeration value="NO_VULNERABILITY_ID_FOUND"/>
      <xs:enumeration value="NO_VULNERABILITY_STATUS_NAME_FOUND"/>
      <xs:enumeration value="NO_VULNERABILITY_NAME_FOUND"/>
      <xs:enumeration value="APPLICATION_ATTACHMENT_CREATE_BEAN_NULL"/>
      <xs:enumeration value="PROTEX_SUB_PROJECT_FOUND"/>
      <xs:enumeration value="ROLE_NOT_ASSIGNED_FOR_IMPORTING_APPLICATION"/>
      <xs:enumeration value="NOT_AN_APPLICATION_ROLE"/>
      <xs:enumeration value="ATTRIBUTE_GROUP_NAME_FOUND_NULL"/>
      <xs:enumeration value="NOT_A_VALID_ROLE_ASSIGNMENT_FOR_APPLICATION"/>
      <xs:enumeration value="ATTRIBUTE_GROUP_UPDATE_BEAN_FOUND_NULL"/>
      <xs:enumeration value="ATTRIBUTE_GROUP_TYPE_NULL"/>
      <xs:enumeration value="ATTACHMENT_FILE_SIZE_ZERO"/>
      <xs:enumeration value="ATTACHMENT_FILE_SIZE_MAX"/>
      <xs:enumeration value="NOT_A_VALID_APPROVER_FOR_APPROVAL"/>
      <xs:enumeration value="GLOBAL_WORKFLOW_CAN_NOT_BE_USED_IN_APPLICATION"/>
      <xs:enumeration value="KNOWLEDGE_BASE_VERSION_NOT_SUPPORTED_FOR_IMPORT"/>
      <xs:enumeration value="CAN_NOT_IMPORT_VALIDATE_WHEN_UNRESOLVED_CONFLICTS"/>
      <xs:enumeration value="VALIDATE_UNSUPPORTED_SERVER_UNSYNCHRONIZED"/>
      <xs:enumeration value="KNOWLEDGE_BASE_VERSION_NOT_SUPPORTED_FOR_VALIDATE"/>
      <xs:enumeration value="APPLICATION_NAME_ALREADY_EXIST"/>
      <xs:enumeration value="NO_KBCOMPONENTRELEASE_NAME_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENTRELEASE_VERSION_FOUND"/>
      <xs:enumeration value="CAN_NOT_ADD_USER_TO_LOCKED_APPLICATION_TEAM"/>
      <xs:enumeration value="IN_ACTIVE_USER_CAN_NOT_BE_ADDED_IN_APPLICATION_TEAM"/>
      <xs:enumeration value="CAN_NOT_REMOVE_USER_TO_LOCKED_APPLICATION_TEAM"/>
      <xs:enumeration value="IN_ACTIVE_USER_CAN_NOT_BE_OWNER_OF_IMPORT_APPLICATION"/>
      <xs:enumeration value="INVALID_COMPONENTUSE_USAGE_VALUE"/>
      <xs:enumeration value="ATTRIBUTE_OPTION_VALUE_FOUND_WITH_NULL"/>
      <xs:enumeration value="NO_COMMENT_FOUND_FOR_SEND_BACK"/>
      <xs:enumeration value="APPLICATION_NAME_VERSION_ALREADY_EXIST"/>
      <xs:enumeration value="CANNOT_DELETE_UPDATE_APPLICATION_LOCKED"/>
      <xs:enumeration value="CANNOT_DELETE_USER_IF_APPLICATION_OWNER"/>
      <xs:enumeration value="COMPONENT_ALREADY_EXISTS"/>
      <xs:enumeration value="COMPONENT_ALREADY_EXISTS_IN_REQUEST"/>
      <xs:enumeration value="CANNOT_DELETE_APPLICATION_PUBLISHED_AS_COMPONENT"/>
      <xs:enumeration value="ATTRIBUTE_NAME_ALREADY_EXISTS"/>
      <xs:enumeration value="ATTRIBUTE_VALUES_CANNOT_BE_EMPTY"/>
      <xs:enumeration value="ATTRIBUTE_FORMAT_VALUE_FIELD_DATE"/>
      <xs:enumeration value="ATTRIBUTE_FORMAT_FIELD_NUMBER"/>
      <xs:enumeration value="ATTRIBUTE_FORMAT_FIELD_URL"/>
      <xs:enumeration value="USER_ALREADY_EXIST"/>
      <xs:enumeration value="IN_ACTIVE_USER_CAN_NOT_BE_SET_AS_OWNER_FOR_APPLICATION"/>
      <xs:enumeration value="COMPONENT_WITH_SAME_NAME_VER_IN_KB"/>
      <xs:enumeration value="COMPONENT_WITH_SAME_NAME_IN_KB"/>
      <xs:enumeration value="COMPONENT_IN_USE"/>
      <xs:enumeration value="ATTRIBUTE_ASSOCIATION_EXISTS"/>
      <xs:enumeration value="ATTRIBUTE_ASSOCIATION_EXISTS_AND_IN_USE"/>
      <xs:enumeration value="WORKFLOW_CLONE_APPLICATION_WORKFLOW_NOEXIST"/>
      <xs:enumeration value="DUPLICATE_OBJECT_CANNOT_BE_CREATED_UPDATED"/>
      <xs:enumeration value="CAN_NOT_CREATE_REQUEST_APPLICATION_LOCKED"/>
      <xs:enumeration value="CAN_NOT_UPDATE_REQUEST_APPLICATION_LOCKED"/>
      <xs:enumeration value="CAN_NOT_DELETE_REQUEST_APPLICATION_LOCKED"/>
      <xs:enumeration value="USER_NAME_CAN_NOT_EMPTY_OR_WHITESPACE"/>
      <xs:enumeration value="USER_EMAIL_ADDRESS_NOT_VALID"/>
      <xs:enumeration value="VULNERABILITY_STATUS_ALREADY_EXISTS"/>
      <xs:enumeration value="VULNERABILITY_STATUS_CONFIGURATION_ERROR"/>
      <xs:enumeration value="REQUEST_WITH_SEND_BACK_REQUESTER_STATUS"/>
      <xs:enumeration value="REQUEST_WITH_SEND_BACK_REQUESTER_FOR_APPLICATION_STATUS"/>
      <xs:enumeration value="CAN_NOT_RESET_WORKFLOW_REQUEST_APPLICATION_LOCKED"/>
      <xs:enumeration value="CAN_NOT_ADD_DEVELOPERS_APPLICATION_LOCKED"/>
      <xs:enumeration value="CAN_NOT_REMOVE_DEVELOPERS_APPLICATION_LOCKED"/>
      <xs:enumeration value="REQUEST_COMPLETION_FAILURE"/>
      <xs:enumeration value="REQUEST_WITH_SEND_BACK_REQUESTER_FOR_APPLICATIONREQUEST_STATUS"/>
      <xs:enumeration value="COMPONENT_TYPE_NOT_VALID"/>
      <xs:enumeration value="COMPONENT_ADDITIONAL_INFORMATION_NOT_VALID"/>
      <xs:enumeration value="REQUEST_NOT_IN_PENDING_STATE"/>
      <xs:enumeration value="NO_REQUEST_FOUND_FOR_COMPONENT"/>
      <xs:enumeration value="PREVIOUS_NODE_REJECTED"/>
      <xs:enumeration value="NO_EXTERNAL_NAMESPACE_REQUEST"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY"/>
      <xs:enumeration value="NO_EXTERNAL_NAMESPACE_UPDATE_REQUEST"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND"/>
      <xs:enumeration value="NO_EXTERNAL_NAMESPACE_KEY"/>
      <xs:enumeration value="NO_EXTERNAL_ID_INFO"/>
      <xs:enumeration value="NO_EXTERNAL_ID"/>
      <xs:enumeration value="NO_KB_RELEASE_ID"/>
      <xs:enumeration value="EXTERNAL_ID_MAPPING_FOR_OBJECT_NOT_FOUND"/>
      <xs:enumeration value="EXTERNAL_ID_MAPPING_FOR_EXTERNAL_ID_NOT_FOUND"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NOTNULL_OR_EMPTY_NAME_OR_NAMESPACE"/>
      <xs:enumeration value="NO_CODE_CENTER_OBJECT_ID"/>
      <xs:enumeration value="NO_CODE_CENTER_OBJECT_KEY"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING"/>
      <xs:enumeration value="NO_CODE_CENTER_OBJECT_TYPE"/>
      <xs:enumeration value="CONFLICTING_CODE_CENTER_OBJECT_TYPES"/>
      <xs:enumeration value="NO_EXTERNAL_ID_MAPPING"/>
      <xs:enumeration value="VALIDATION_BASE_INVALID_NVD_EXTERNAL_IDENTIFIERS"/>
      <xs:enumeration value="ATTRIBUTE_GROUP_NAME_ALREADY_EXISTS"/>
      <xs:enumeration value="SORT_COLUMN_NOT_SUPPORTED"/>
      <xs:enumeration value="SETTINGS_RESCHEDULE_ALREADY_RUNNING"/>
      <xs:enumeration value="SETTINGS_RESCHEDULE_STOPPED"/>
      <xs:enumeration value="DECLARED_LICENSE_CANNOT_BE_MORE_THAN_MAX_LENGH"/>
      <xs:enumeration value="ATTRIBUTE_ID_OR_NAME_CAN_NOT_NULL"/>
      <xs:enumeration value="APPROVER_SELECT_AT_REQUEST_TIME_IS_NOT_ENABLED"/>
      <xs:enumeration value="APPROVER_NOT_AVAILABLE_FOR_ALL_APPROVAL_SELECT_AT_REQUEST_TIME"/>
      <xs:enumeration value="VALIDATION_APPROVAL_NOT_IN_WF_OR_NO_REQUEST_APPROVER_SELECTION_OPTION"/>
      <xs:enumeration value="CAN_NOT_CREATE_COMPONENT_WITH_NAME_VERSION_MIMATCH_FOR_RELEASE"/>
      <xs:enumeration value="CAN_NOT_CREATE_COMPONENT_WITH_NAME_MISMATCH_FORGENERIC"/>
      <xs:enumeration value="IN_ACTIVE_USER_CAN_NOT_BE_USED"/>
      <xs:enumeration value="REQUEST_NOT_SUBMITTED"/>
      <xs:enumeration value="APPLICATION_LOCKED"/>
      <xs:enumeration value="NOT_VALID_LIST_OF_ROLES"/>
      <xs:enumeration value="USER_NAME_ID_CAN_NOT_EMPTY_OR_WHITESPACE"/>
      <xs:enumeration value="BOARD_NAME_ID_CAN_NOT_EMPTY"/>
      <xs:enumeration value="USER_ROLE_ASSIGNMENT_NULL"/>
      <xs:enumeration value="INVALID_BOARD_ROLE"/>
      <xs:enumeration value="INVALID_USER_ROLE"/>
      <xs:enumeration value="INVALID_OVERALL_ROLE"/>
      <xs:enumeration value="NO_LDAP_AUTHENTICATION_TYPE"/>
      <xs:enumeration value="LDAP_GROUP_NAME_ID_CAN_NOT_EMPTY"/>
      <xs:enumeration value="NOT_VALID_LIST_OF_LDAP_GROUP_ROLES"/>
      <xs:enumeration value="LDAP_GROUP_NOT_FOUND"/>
      <xs:enumeration value="NO_LDAP_GROUPROLE_FOR_OVERALL"/>
      <xs:enumeration value="NO_LDAP_GROUPROLE_FOR_BOARD"/>
      <xs:enumeration value="NO_LDAP_GROUPROLE_FOR_APPLICATION"/>
      <xs:enumeration value="REQUEST_PREVIOUS_NODE_INCOMPLETE"/>
      <xs:enumeration value="NO_NODE_ID_FOUND"/>
      <xs:enumeration value="INVALID_DECISION_NODE_ID"/>
      <xs:enumeration value="INVALID_DECISION_NODE_NAME"/>
      <xs:enumeration value="NO_VALID_WORKFLOW"/>
      <xs:enumeration value="NO_DATA_FOUND"/>
      <xs:enumeration value="NOT_RELEASE_COMPONENT"/>
      <xs:enumeration value="RELEASEID_CAN_NOT_NULL"/>
      <xs:enumeration value="LICENSEORFAMILYID_CAN_NOT_NULL"/>
      <xs:enumeration value="PAGEFILTER_CAN_NOT_NULL"/>
      <xs:enumeration value="RELEASE_ID_AND_SCAN_ID_CAN_NOT_NULL"/>
      <xs:enumeration value="PAGENO_AND_PAGESIZE_CAN_NOT_NULL"/>
      <xs:enumeration value="FAMILY_ID_NULL"/>
      <xs:enumeration value="LICENSE_ID_NULL"/>
      <xs:enumeration value="FILEID_NOT_NULL"/>
      <xs:enumeration value="FILEID_AND_SCAN_ID_NOT_NULL"/>
      <xs:enumeration value="NOT_FOUND_EXCEPTION"/>
      <xs:enumeration value="NO_RELEASE_ID_NULL"/>
      <xs:enumeration value="AUTHENTICATION_FAILED_EXCEPTION"/>
      <xs:enumeration value="NO_DATA_FOUND_EXCEPTION"/>
      <xs:enumeration value="UNABLE_DISPLAY_DATA_FAMILY"/>
      <xs:enumeration value="UNABLE_DISPLAY_DATA_LICENSE"/>
      <xs:enumeration value="DEEPLICENCE_SERVER_NOT_REACHABLE"/>
      <xs:enumeration value="DEPRECATED_KBCOMPONENTRELEASE_COMPONENT_FOUND"/>
      <xs:enumeration value="DEPRECATED_COMPONENT_FOUND"/>
      <xs:enumeration value="VALIDATION_USER_NO_DELETE_ATTRIBUTE"/>
      <xs:enumeration value="VALIDATION_USER_NO_UPDATE_INACTIVE"/>
      <xs:enumeration value="ATTRIBUTE_USER_SUGGESTION_BOX_NOTSUPPORTED"/>
      <xs:enumeration value="CREDENTIAL_VALIDATION_REMOTE_EXCEPTION"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_BOARD_RULE_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_TASK_ASSIGNEE_RULE_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_TASK_GROUP_RULE_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_APPROVER_RULE_FOUND"/>
      <xs:enumeration value="NO_PERMISSION_TO_UPDATE_RULES"/>
      <xs:enumeration value="NO_RULE_TO_CONFIGURE"/>
      <xs:enumeration value="WRONG_SELECTION_TYPE_FOR_APPROVAL"/>
      <xs:enumeration value="APPROVAL_EXISTING_RULES_CANNOT_BE_REMOVED"/>
      <xs:enumeration value="APPROVAL_ALREADY_EXISTS"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_BEAN_NULL"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_NAME_ALREADY_EXIST"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_NAME_NOT_EMPTY"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_SERVICEURL_NOT_EMPTY"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_REQUESTMETHOD_NOT_EMPTY"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_REQUESTMETHOD_NOT_VALID"/>
      <xs:enumeration value="NO_WORKFLOWWEBRESOURCE_ID_FOUND"/>
      <xs:enumeration value="NO_WORKFLOWWEBRESOURCE_NAME_FOUND"/>
      <xs:enumeration value="WEB_RESOURCE_TRANSITION_NOT_EXISTS"/>
      <xs:enumeration value="WEB_RESOURCE_TRANSITION_NULL"/>
      <xs:enumeration value="COMMENT_NOT_FOUND"/>
      <xs:enumeration value="WEB_RESOURCE_NULL"/>
      <xs:enumeration value="WEB_RESOURCE_TASK_ALREADY_COMPLETED"/>
      <xs:enumeration value="WEB_RESOURCE_DEF_NOT_FOUND"/>
      <xs:enumeration value="WEB_RESOURCE_APPLICATION_LOCKED"/>
      <xs:enumeration value="WEB_RESOURCE_CANNOT_RESET"/>
      <xs:enumeration value="WEB_RESOURCE_EXECUTION_ERROR"/>
      <xs:enumeration value="WEB_RESOURCE_WITHWORKFLOWREFERENCE_CANNOT_BE_DELETED"/>
      <xs:enumeration value="NO_NULL_DOWNLOADHASHTYPE_ALLOWED"/>
      <xs:enumeration value="NO_NULL_KB_COMPONENT_RELEASE_ID_ALLOWED"/>
      <xs:enumeration value="NO_NULL_OR_EMPTY_HASH_ALLOWED"/>
      <xs:enumeration value="ROLE_ALREADY_PRESENT"/>
      <xs:enumeration value="PERMISSION_NOT_PRESENT"/>
      <xs:enumeration value="ROLE_LOCKED"/>
      <xs:enumeration value="ROLE_GENERIC_VALIDATION_EXCEPTION"/>
      <xs:enumeration value="ROLE_CANNOT_BE_NULL"/>
      <xs:enumeration value="ROLE_NAME_CANNOT_BE_NULL_OR_EMPTY"/>
      <xs:enumeration value="ROLE_TYPE_ENUM_CANNOT_BE_NULL"/>
      <xs:enumeration value="ROLE_IN_USE"/>
      <xs:enumeration value="NO_TASK_PRESENT"/>
      <xs:enumeration value="INVALID_ORDER_FIELD"/>
      <xs:enumeration value="ENUM_CANNOT_BE_NULL"/>
      <xs:enumeration value="REPORT_ID_NULL"/>
      <xs:enumeration value="INVALID_MAIN_REPORT"/>
      <xs:enumeration value="INVALID_APPLICATION_REPORT"/>
      <xs:enumeration value="INVALID_COMPONENT_REPORT"/>
      <xs:enumeration value="NO_REPORT_FOUND_WITH_NAME"/>
      <xs:enumeration value="NO_REPORT_FOUND_WITH_ID"/>
      <xs:enumeration value="REPORT_PARAMETER_VALIDATION_ERROR"/>
      <xs:enumeration value="REPORT_PARAMETER_VALIDATION_INVALID_VALUE"/>
      <xs:enumeration value="REPORT_PARAMETER_VALIDATION_INVALID_TYPE"/>
      <xs:enumeration value="REPORT_VALIDATION_AUDIT_REPORT_FILTER_DATE_NULL"/>
      <xs:enumeration value="REPORT_VALIDATION_AUDIT_REPORT_FILTER_DATE_FUTURE"/>
      <xs:enumeration value="REPORT_VALIDATION_AUDIT_REPORT_FILTER_DATE_DIFFERENCE"/>
      <xs:enumeration value="REPORT_VALIDATION_AUDIT_REPORT_FILTER_DATE_INVALID"/>
      <xs:enumeration value="REPORT_VALIDATION_SEARCH_AUDIT_REPORT_FILTER_AUDITLOGID_NULL"/>
      <xs:enumeration value="REPORT_VALIDATION_SEARCH_AUDIT_REPORT_FILTER_AUDITLOGID_INVALID"/>
      <xs:enumeration value="REPORT_VALIDATION_SEARCH_AUDIT_LOG_FILTER_NULL"/>
      <xs:enumeration value="STARTDATE_CANNOT_BE_GREATER_THAN_ENDDATE"/>
      <xs:enumeration value="VALIDATION_WORKFLOW_LATEST_NOTEXIST"/>
      <xs:enumeration value="REQUEST_VULNE_UPDATE_NULL"/>
      <xs:enumeration value="REQUEST_VULNE_NOT_FOUND"/>
      <xs:enumeration value="SEARCH_BEAN_CANNOT_BE_NULL"/>
      <xs:enumeration value="ONLY_ONE_VALUE_ALLOWED"/>
      <xs:enumeration value="SEARCH_USING_INVALID_OPERATOR_FOR_ATTRIBUTE"/>
      <xs:enumeration value="INVALID_RELEASE_DATE"/>
      <xs:enumeration value="INVALID_ATTRIBUTE_NOT_INCLUDE_IN_SEARCH_INDEX"/>
      <xs:enumeration value="INVALID_ATTRIBUTE_VALUE"/>
      <xs:enumeration value="NO_SEARCH_FIELD_OPERATOR_VALUES_SET"/>
      <xs:enumeration value="ATTACHMENT_NAME_TOO_LONG"/>
      <xs:enumeration value="CANNOT_UPDATE_APPROVAl_CRITERIA"/>
      <xs:enumeration value="CANNOT_UPDATE_TASK"/>
      <xs:enumeration value="CANNOT_UPDATE_REQUEST_MOREINFO"/>
      <xs:enumeration value="GENERIC_CUSTOMCOMPONENTNAMEORIDTOKEN_CANNOT_NULL"/>
      <xs:enumeration value="NO_GENRIC_COMPONENT_FOUND_WITH_ID"/>
      <xs:enumeration value="NO_GENERIC_COMPONENT_FOUND_WITH_NAME"/>
      <xs:enumeration value="MULTIPLE_PARENT_COMPONENT_FOUND_WITH_NAME"/>
      <xs:enumeration value="WRONG_GENERICCOMPONENT_ID_PASSED"/>
      <xs:enumeration value="GENERICCOMPONENT_PASSED_MISMATCHED"/>
      <xs:enumeration value="VALIDATION_USER_SSO_ENABLED"/>
      <xs:enumeration value="CREDENTIAL_VALIDATION_SSO_ENABLED_SERVER"/>
      <xs:enumeration value="GENERIC_CUSTOMCOMPONENTIDTOKEN_IS_NULL"/>
      <xs:enumeration value="GENERIC_CUSTOMCOMPONENTNAMETOKEN_IS_NULL"/>
      <xs:enumeration value="GENERIC_COMPONENT_CANNOT_BE_UPDATED"/>
      <xs:enumeration value="COMPONENT_WHERE_USED_IN_APPLICATION"/>
      <xs:enumeration value="GENERIC_COMPONENT_FILED_EMPTY"/>
      <xs:enumeration value="NO_OBLIGATION_ID_FOUND"/>
      <xs:enumeration value="OBLIGATION_ID_CANNOT_NULL"/>
      <xs:enumeration value="NO_OBLIGATION_LABEL_FOUND"/>
      <xs:enumeration value="MULTIPLE_OBLIGATION_LABEL_FOUND"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data" version="1.0">
<xs:complexType abstract="true" name="pageFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstRowIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="lastRowIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="sortAscending" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="nameDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:codecenter.blackducksoftware.com:sdk:v7.0:attribute.data" xmlns:ns2="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:attributeApi" elementFormDefault="unqualified" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:attributeApi" version="1.0">
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:attribute.data"/>
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data"/>
<xs:element name="addAttributesToAttributeGroup" type="tns:addAttributesToAttributeGroup"/>
<xs:element name="addAttributesToAttributeGroupResponse" type="tns:addAttributesToAttributeGroupResponse"/>
<xs:element name="createAttribute" type="tns:createAttribute"/>
<xs:element name="createAttributeGroup" type="tns:createAttributeGroup"/>
<xs:element name="createAttributeGroupResponse" type="tns:createAttributeGroupResponse"/>
<xs:element name="createAttributeResponse" type="tns:createAttributeResponse"/>
<xs:element name="createVulnerabilityStatus" type="tns:createVulnerabilityStatus"/>
<xs:element name="createVulnerabilityStatusResponse" type="tns:createVulnerabilityStatusResponse"/>
<xs:element name="deleteAttribute" type="tns:deleteAttribute"/>
<xs:element name="deleteAttributeGroup" type="tns:deleteAttributeGroup"/>
<xs:element name="deleteAttributeGroupResponse" type="tns:deleteAttributeGroupResponse"/>
<xs:element name="deleteAttributeResponse" type="tns:deleteAttributeResponse"/>
<xs:element name="deleteVulnerabilityStatus" type="tns:deleteVulnerabilityStatus"/>
<xs:element name="deleteVulnerabilityStatusResponse" type="tns:deleteVulnerabilityStatusResponse"/>
<xs:element name="getAllAttributesByAttributeGroupType" type="tns:getAllAttributesByAttributeGroupType"/>
<xs:element name="getAllAttributesByAttributeGroupTypeResponse" type="tns:getAllAttributesByAttributeGroupTypeResponse"/>
<xs:element name="getAttribute" type="tns:getAttribute"/>
<xs:element name="getAttributeGroup" type="tns:getAttributeGroup"/>
<xs:element name="getAttributeGroupResponse" type="tns:getAttributeGroupResponse"/>
<xs:element name="getAttributeResponse" type="tns:getAttributeResponse"/>
<xs:element name="getVulnerabilityStatus" type="tns:getVulnerabilityStatus"/>
<xs:element name="getVulnerabilityStatusResponse" type="tns:getVulnerabilityStatusResponse"/>
<xs:element name="searchAttributeGroups" type="tns:searchAttributeGroups"/>
<xs:element name="searchAttributeGroupsResponse" type="tns:searchAttributeGroupsResponse"/>
<xs:element name="searchAttributes" type="tns:searchAttributes"/>
<xs:element name="searchAttributesResponse" type="tns:searchAttributesResponse"/>
<xs:element name="searchVulerabilityStatus" type="tns:searchVulerabilityStatus"/>
<xs:element name="searchVulerabilityStatusResponse" type="tns:searchVulerabilityStatusResponse"/>
<xs:element name="updateAttribute" type="tns:updateAttribute"/>
<xs:element name="updateAttributeGroup" type="tns:updateAttributeGroup"/>
<xs:element name="updateAttributeGroupResponse" type="tns:updateAttributeGroupResponse"/>
<xs:element name="updateAttributeResponse" type="tns:updateAttributeResponse"/>
<xs:element name="updateVulnerabilityStatus" type="tns:updateVulnerabilityStatus"/>
<xs:element name="updateVulnerabilityStatusResponse" type="tns:updateVulnerabilityStatusResponse"/>
<xs:complexType name="searchAttributeGroups">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="attributeGroupType" type="ns1:attributeGroupTypeEnum"/>
      <xs:element minOccurs="0" name="pageFilter" type="ns1:attributeGroupPageFilter"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchAttributeGroupsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:attributeGroup"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchVulerabilityStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="searchString" type="xs:string"/>
      <xs:element minOccurs="0" name="pageFilter" type="ns1:vulnerabilityStatusPageFilter"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchVulerabilityStatusResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:vulnerabilityStatus"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVulnerabilityStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="vulnerabilityStatusId" type="ns1:vulnerabilityStatusNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getVulnerabilityStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:vulnerabilityStatus"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAttributeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:attributeGroupNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAttributeGroupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:attributeGroup"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createAttributeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="ns1:attributeGroupTypeEnum"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createAttributeGroupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:attributeGroupIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="pageFilter" type="ns1:attributePageFilter"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchAttributesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:abstractAttribute"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllAttributesByAttributeGroupType">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeGroupType" type="ns1:attributeGroupTypeEnum"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllAttributesByAttributeGroupTypeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:abstractAttribute"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="attrBean" type="ns1:abstractAttribute"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createAttributeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:attributeIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:attributeNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAttributeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:abstractAttribute"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="updateAttrBean" type="ns1:abstractAttribute"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateAttributeResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="deleteAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeId" type="ns1:attributeNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteAttributeResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="deleteVulnerabilityStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="vulnerabilityStatusId" type="ns1:vulnerabilityStatusNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteVulnerabilityStatusResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="createVulnerabilityStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="vulnStatusName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createVulnerabilityStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:vulnerabilityStatusIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteAttributeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeGroupId" type="ns1:attributeGroupNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteAttributeGroupResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="addAttributesToAttributeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeGroupId" type="ns1:attributeGroupNameOrIdToken"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" type="ns1:attributeNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addAttributesToAttributeGroupResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="updateAttributeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeGroupBean" type="ns1:attributeGroupUpdate"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateAttributeGroupResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="updateVulnerabilityStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="vulnerabilityStatusUpdateBean" type="ns1:vulnerabilityStatusNameOrIdToken"/>
      <xs:element minOccurs="0" name="vulnStatusName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateVulnerabilityStatusResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="urn:codecenter.blackducksoftware.com:sdk:v7.0:common" xmlns:ns1="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data" xmlns:ns2="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:attribute.data" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:attribute.data" version="1.0">
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data"/>
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data"/>
<xs:element name="attributeSummary" type="tns:attributeSummary"/>
<xs:complexType name="attributeGroupPageFilter">
    <xs:complexContent>
      <xs:extension base="ns1:pageFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="sortedColumn" type="tns:attributeGroupColumn"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="attributeGroup">
    <xs:complexContent>
      <xs:extension base="ns1:nameDescription">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeDefinitions" nillable="true" type="tns:attributeSummary"/>
          <xs:element minOccurs="0" name="expression" type="xs:string"/>
          <xs:element minOccurs="0" name="id" type="tns:attributeGroupIdToken"/>
          <xs:element minOccurs="0" name="objectType" type="xs:string"/>
          <xs:element minOccurs="0" name="parsedExpression" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="attributeSummary">
    <xs:sequence>
      <xs:element name="active" type="xs:boolean"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="question" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="attributeGroupIdToken">
    <xs:complexContent>
      <xs:extension base="tns:attributeGroupNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="attributeGroupNameOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="attributeGroupNameToken">
    <xs:complexContent>
      <xs:extension base="tns:attributeGroupNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="attributeGroupNullableToken">
    <xs:complexContent>
      <xs:extension base="tns:attributeGroupNameOrIdToken">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="vulnerabilityStatusPageFilter">
    <xs:complexContent>
      <xs:extension base="ns1:pageFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="sortedColumn" type="tns:vulnerabilityStatusColumn"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="vulnerabilityStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="tns:vulnerabilityStatusIdToken"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="vulnerabilityStatusIdToken">
    <xs:complexContent>
      <xs:extension base="tns:vulnerabilityStatusNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="vulnerabilityStatusNameOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="vulnerabilityStatusNameToken">
    <xs:complexContent>
      <xs:extension base="tns:vulnerabilityStatusNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="attributePageFilter">
    <xs:complexContent>
      <xs:extension base="ns1:pageFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="sortedColumn" type="tns:attributeColumn"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="abstractAttribute">
    <xs:complexContent>
      <xs:extension base="ns1:nameDescription">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean"/>
          <xs:element minOccurs="0" name="attrType" type="xs:string"/>
          <xs:element minOccurs="0" name="id" type="tns:attributeIdToken"/>
          <xs:element name="includeInIndex" type="xs:boolean"/>
          <xs:element minOccurs="0" name="nameToken" type="tns:attributeNameToken"/>
          <xs:element minOccurs="0" name="question" type="xs:string"/>
          <xs:element name="required" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="attributeIdToken">
    <xs:complexContent>
      <xs:extension base="tns:attributeNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="attributeNameOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="attributeNameToken">
    <xs:complexContent>
      <xs:extension base="tns:attributeNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="multiSelectAttributeDefinition">
    <xs:complexContent>
      <xs:extension base="tns:abstractAttribute">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="defaultOptions" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
          <xs:element name="radio" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="simpleAttributeDefinition">
    <xs:complexContent>
      <xs:extension base="tns:abstractAttribute">
        <xs:sequence>
          <xs:element minOccurs="0" name="defaultValue" type="xs:string"/>
          <xs:element minOccurs="0" name="type" type="tns:attributeTypeEnum"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="singleSelectAttributeDefinition">
    <xs:complexContent>
      <xs:extension base="tns:abstractAttribute">
        <xs:sequence>
          <xs:element name="checkBox" type="xs:boolean"/>
          <xs:element minOccurs="0" name="defaultOption" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="userSuggestBoxAttributeDefinition">
    <xs:complexContent>
      <xs:extension base="tns:abstractAttribute">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="attributeGroupUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeGroupId" type="tns:attributeGroupNameOrIdToken"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="tns:attributeNameOrIdToken"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="expression" type="ns2:rule"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:simpleType name="attributeGroupTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="APPLICATION"/>
      <xs:enumeration value="COMPONENT"/>
      <xs:enumeration value="COMPONENT_USE"/>
      <xs:enumeration value="APPROVAL"/>
      <xs:enumeration value="TASK"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="attributeGroupColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ATTRIBUTEGROUP_NAME"/>
      <xs:enumeration value="ATTRIBUTEGROUP_DESCRIPTION"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="vulnerabilityStatusColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VULNERABILITY_STATUS_NAME"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="attributeColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ATTRIBUTE_NAME"/>
      <xs:enumeration value="ATTRIBUTE_DESCRIPTION"/>
      <xs:enumeration value="ATTRIBUTE_DEFAULT_VALUE"/>
      <xs:enumeration value="ATTRIBUTE_ACTIVE"/>
      <xs:enumeration value="ATTRIBUTE_TYPE"/>
      <xs:enumeration value="ATTRIBUTE_DOMAIN"/>
      <xs:enumeration value="ATTRIBUTE_REQUIRED"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="attributeTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DATE_PICKER"/>
      <xs:enumeration value="NUMBER"/>
      <xs:enumeration value="READ_ONLY_TEXT"/>
      <xs:enumeration value="TEXT_FIELD"/>
      <xs:enumeration value="TEXT_AREA"/>
      <xs:enumeration value="URL"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:attribute="urn:codecenter.blackducksoftware.com:sdk:v7.0:attribute.data" xmlns:common="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data" version="1.0">
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:attribute.data"/>
<xs:complexType name="rule">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="tns:condition"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="condition">
    <xs:sequence>
      <xs:element minOccurs="0" name="field" type="tns:expressionFieldToken"/>
      <xs:element minOccurs="0" name="operator" type="tns:operatorEnum"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType abstract="true" name="expressionFieldToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="field" type="tns:dynamicOrStaticFieldToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType abstract="true" name="dynamicOrStaticFieldToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="dynamicFieldToken">
    <xs:complexContent>
      <xs:extension base="tns:dynamicOrStaticFieldToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="attributeId" type="attribute:attributeNameOrIdToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="staticFieldToken">
    <xs:complexContent>
      <xs:extension base="tns:dynamicOrStaticFieldToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="field" type="tns:expressionStaticFieldsEnum"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="applicationFieldToken">
    <xs:complexContent>
      <xs:extension base="tns:expressionFieldToken">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="approvalFieldToken">
    <xs:complexContent>
      <xs:extension base="tns:expressionFieldToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="tns:approvalNameOrIdToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="approvalNameOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="approvalNameToken">
    <xs:complexContent>
      <xs:extension base="tns:approvalNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="approvalIdToken">
    <xs:complexContent>
      <xs:extension base="tns:approvalNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="componentFieldToken">
    <xs:complexContent>
      <xs:extension base="tns:expressionFieldToken">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="componentUseFieldToken">
    <xs:complexContent>
      <xs:extension base="tns:expressionFieldToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="approvalId" type="tns:approvalNameOrIdToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="vulnerabilityFieldToken">
    <xs:complexContent>
      <xs:extension base="tns:expressionFieldToken">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:simpleType name="expressionStaticFieldsEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NAME"/>
      <xs:enumeration value="VERSION"/>
      <xs:enumeration value="LICENSE"/>
      <xs:enumeration value="HOMEPAGE"/>
      <xs:enumeration value="RELEASEDATE"/>
      <xs:enumeration value="CATEGORIES"/>
      <xs:enumeration value="DBENVIRONMENTS"/>
      <xs:enumeration value="INTENDEDAUDIENCES"/>
      <xs:enumeration value="OPERATORSYSTEMS"/>
      <xs:enumeration value="PROJECTMATURITY"/>
      <xs:enumeration value="PROGRAMMINGLANGUAGES"/>
      <xs:enumeration value="USERINTERFACES"/>
      <xs:enumeration value="USAGE"/>
      <xs:enumeration value="NUMBERCONTRIBUTORS"/>
      <xs:enumeration value="SEVERITY"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="operatorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Contains"/>
      <xs:enumeration value="DoesNotContain"/>
      <xs:enumeration value="Equals"/>
      <xs:enumeration value="DoesNotEqual"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getVulnerabilityStatus">
    <wsdl:part name="parameters" element="tns:getVulnerabilityStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAttributeGroup">
    <wsdl:part name="parameters" element="tns:createAttributeGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchAttributes">
    <wsdl:part name="parameters" element="tns:searchAttributes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAttributesByAttributeGroupType">
    <wsdl:part name="parameters" element="tns:getAllAttributesByAttributeGroupType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAttributeResponse">
    <wsdl:part name="parameters" element="tns:createAttributeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttribute">
    <wsdl:part name="parameters" element="tns:getAttribute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAttribute">
    <wsdl:part name="parameters" element="tns:deleteAttribute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVulnerabilityStatus">
    <wsdl:part name="parameters" element="tns:deleteVulnerabilityStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVulnerabilityStatus">
    <wsdl:part name="parameters" element="tns:createVulnerabilityStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAttributeGroupResponse">
    <wsdl:part name="parameters" element="tns:createAttributeGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAttributeResponse">
    <wsdl:part name="parameters" element="tns:deleteAttributeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAttributeGroupResponse">
    <wsdl:part name="parameters" element="tns:updateAttributeGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVulnerabilityStatus">
    <wsdl:part name="parameters" element="tns:updateVulnerabilityStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchAttributeGroups">
    <wsdl:part name="parameters" element="tns:searchAttributeGroups">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchVulerabilityStatus">
    <wsdl:part name="parameters" element="tns:searchVulerabilityStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchVulerabilityStatusResponse">
    <wsdl:part name="parameters" element="tns:searchVulerabilityStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchAttributesResponse">
    <wsdl:part name="parameters" element="tns:searchAttributesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SdkFault">
    <wsdl:part name="SdkFault" element="ns1:SdkFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttributeGroup">
    <wsdl:part name="parameters" element="tns:getAttributeGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVulnerabilityStatusResponse">
    <wsdl:part name="parameters" element="tns:deleteVulnerabilityStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVulnerabilityStatusResponse">
    <wsdl:part name="parameters" element="tns:createVulnerabilityStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVulnerabilityStatusResponse">
    <wsdl:part name="parameters" element="tns:getVulnerabilityStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAttributeGroupResponse">
    <wsdl:part name="parameters" element="tns:deleteAttributeGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchAttributeGroupsResponse">
    <wsdl:part name="parameters" element="tns:searchAttributeGroupsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAttributesByAttributeGroupTypeResponse">
    <wsdl:part name="parameters" element="tns:getAllAttributesByAttributeGroupTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAttribute">
    <wsdl:part name="parameters" element="tns:createAttribute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttributeResponse">
    <wsdl:part name="parameters" element="tns:getAttributeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAttributesToAttributeGroupResponse">
    <wsdl:part name="parameters" element="tns:addAttributesToAttributeGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAttribute">
    <wsdl:part name="parameters" element="tns:updateAttribute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttributeGroupResponse">
    <wsdl:part name="parameters" element="tns:getAttributeGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAttributeGroup">
    <wsdl:part name="parameters" element="tns:deleteAttributeGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVulnerabilityStatusResponse">
    <wsdl:part name="parameters" element="tns:updateVulnerabilityStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAttributesToAttributeGroup">
    <wsdl:part name="parameters" element="tns:addAttributesToAttributeGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAttributeResponse">
    <wsdl:part name="parameters" element="tns:updateAttributeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAttributeGroup">
    <wsdl:part name="parameters" element="tns:updateAttributeGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AttributeApi">
    <wsdl:operation name="searchAttributeGroups">
      <wsdl:input name="searchAttributeGroups" message="tns:searchAttributeGroups">
    </wsdl:input>
      <wsdl:output name="searchAttributeGroupsResponse" message="tns:searchAttributeGroupsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchVulerabilityStatus">
      <wsdl:input name="searchVulerabilityStatus" message="tns:searchVulerabilityStatus">
    </wsdl:input>
      <wsdl:output name="searchVulerabilityStatusResponse" message="tns:searchVulerabilityStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVulnerabilityStatus">
      <wsdl:input name="getVulnerabilityStatus" message="tns:getVulnerabilityStatus">
    </wsdl:input>
      <wsdl:output name="getVulnerabilityStatusResponse" message="tns:getVulnerabilityStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttributeGroup">
      <wsdl:input name="getAttributeGroup" message="tns:getAttributeGroup">
    </wsdl:input>
      <wsdl:output name="getAttributeGroupResponse" message="tns:getAttributeGroupResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAttributeGroup">
      <wsdl:input name="createAttributeGroup" message="tns:createAttributeGroup">
    </wsdl:input>
      <wsdl:output name="createAttributeGroupResponse" message="tns:createAttributeGroupResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchAttributes">
      <wsdl:input name="searchAttributes" message="tns:searchAttributes">
    </wsdl:input>
      <wsdl:output name="searchAttributesResponse" message="tns:searchAttributesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAttributesByAttributeGroupType">
      <wsdl:input name="getAllAttributesByAttributeGroupType" message="tns:getAllAttributesByAttributeGroupType">
    </wsdl:input>
      <wsdl:output name="getAllAttributesByAttributeGroupTypeResponse" message="tns:getAllAttributesByAttributeGroupTypeResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAttribute">
      <wsdl:input name="createAttribute" message="tns:createAttribute">
    </wsdl:input>
      <wsdl:output name="createAttributeResponse" message="tns:createAttributeResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttribute">
      <wsdl:input name="getAttribute" message="tns:getAttribute">
    </wsdl:input>
      <wsdl:output name="getAttributeResponse" message="tns:getAttributeResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAttribute">
      <wsdl:input name="updateAttribute" message="tns:updateAttribute">
    </wsdl:input>
      <wsdl:output name="updateAttributeResponse" message="tns:updateAttributeResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAttribute">
      <wsdl:input name="deleteAttribute" message="tns:deleteAttribute">
    </wsdl:input>
      <wsdl:output name="deleteAttributeResponse" message="tns:deleteAttributeResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteVulnerabilityStatus">
      <wsdl:input name="deleteVulnerabilityStatus" message="tns:deleteVulnerabilityStatus">
    </wsdl:input>
      <wsdl:output name="deleteVulnerabilityStatusResponse" message="tns:deleteVulnerabilityStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createVulnerabilityStatus">
      <wsdl:input name="createVulnerabilityStatus" message="tns:createVulnerabilityStatus">
    </wsdl:input>
      <wsdl:output name="createVulnerabilityStatusResponse" message="tns:createVulnerabilityStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAttributeGroup">
      <wsdl:input name="deleteAttributeGroup" message="tns:deleteAttributeGroup">
    </wsdl:input>
      <wsdl:output name="deleteAttributeGroupResponse" message="tns:deleteAttributeGroupResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAttributesToAttributeGroup">
      <wsdl:input name="addAttributesToAttributeGroup" message="tns:addAttributesToAttributeGroup">
    </wsdl:input>
      <wsdl:output name="addAttributesToAttributeGroupResponse" message="tns:addAttributesToAttributeGroupResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAttributeGroup">
      <wsdl:input name="updateAttributeGroup" message="tns:updateAttributeGroup">
    </wsdl:input>
      <wsdl:output name="updateAttributeGroupResponse" message="tns:updateAttributeGroupResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateVulnerabilityStatus">
      <wsdl:input name="updateVulnerabilityStatus" message="tns:updateVulnerabilityStatus">
    </wsdl:input>
      <wsdl:output name="updateVulnerabilityStatusResponse" message="tns:updateVulnerabilityStatusResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AttributeApiServiceSoapBinding" type="tns:AttributeApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchAttributeGroups">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchAttributeGroups">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchAttributeGroupsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchVulerabilityStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchVulerabilityStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchVulerabilityStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVulnerabilityStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVulnerabilityStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVulnerabilityStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttributeGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAttributeGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAttributeGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAttributeGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAttributeGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAttributeGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchAttributes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchAttributes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchAttributesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllAttributesByAttributeGroupType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllAttributesByAttributeGroupType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllAttributesByAttributeGroupTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAttribute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAttribute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAttributeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttribute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAttribute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAttributeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAttribute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateAttribute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAttributeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAttribute">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAttribute">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAttributeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteVulnerabilityStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteVulnerabilityStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteVulnerabilityStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createVulnerabilityStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createVulnerabilityStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createVulnerabilityStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAttributeGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAttributeGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAttributeGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAttributesToAttributeGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addAttributesToAttributeGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAttributesToAttributeGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAttributeGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateAttributeGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAttributeGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateVulnerabilityStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateVulnerabilityStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateVulnerabilityStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttributeApiService">
    <wsdl:port name="AttributeApiPort" binding="tns:AttributeApiServiceSoapBinding">
      <soap:address location="http://localhost:9090/AttributeApiPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
