codecenter-sdk-client/src/main/config/wsdl/roleApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RoleApiService" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:roleApi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:roleApi" xmlns:ns1="urn:codecenter.blackducksoftware.com:sdk:v7.0:fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:user.data" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:user.data" version="1.0">
<xs:complexType name="userIdToken">
    <xs:complexContent>
      <xs:extension base="tns:userNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="userNameOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="userNameToken">
    <xs:complexContent>
      <xs:extension base="tns:userNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data" xmlns:ns2="urn:codecenter.blackducksoftware.com:sdk:v7.0:role.data" xmlns:ns3="urn:codecenter.blackducksoftware.com:sdk:v7.0:user.data" xmlns:ns4="urn:codecenter.blackducksoftware.com:sdk:v7.0:application.data" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:roleApi" elementFormDefault="unqualified" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:roleApi" version="1.0">
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data"/>
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:role.data"/>
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:user.data"/>
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:application.data"/>
<xs:element name="createRole" type="tns:createRole"/>
<xs:element name="createRoleResponse" type="tns:createRoleResponse"/>
<xs:element name="deleteLdapGroupRoleAssignments" type="tns:deleteLdapGroupRoleAssignments"/>
<xs:element name="deleteLdapGroupRoleAssignmentsResponse" type="tns:deleteLdapGroupRoleAssignmentsResponse"/>
<xs:element name="deleteRole" type="tns:deleteRole"/>
<xs:element name="deleteRoleResponse" type="tns:deleteRoleResponse"/>
<xs:element name="deleteUserRoles" type="tns:deleteUserRoles"/>
<xs:element name="deleteUserRolesResponse" type="tns:deleteUserRolesResponse"/>
<xs:element name="getApplicationRoles" type="tns:getApplicationRoles"/>
<xs:element name="getApplicationRolesResponse" type="tns:getApplicationRolesResponse"/>
<xs:element name="getBoardRoles" type="tns:getBoardRoles"/>
<xs:element name="getBoardRolesResponse" type="tns:getBoardRolesResponse"/>
<xs:element name="getLdapGroupApplicationRoles" type="tns:getLdapGroupApplicationRoles"/>
<xs:element name="getLdapGroupApplicationRolesResponse" type="tns:getLdapGroupApplicationRolesResponse"/>
<xs:element name="getLdapGroupBoardRoles" type="tns:getLdapGroupBoardRoles"/>
<xs:element name="getLdapGroupBoardRolesResponse" type="tns:getLdapGroupBoardRolesResponse"/>
<xs:element name="getLdapGroupOverAllRoles" type="tns:getLdapGroupOverAllRoles"/>
<xs:element name="getLdapGroupOverAllRolesResponse" type="tns:getLdapGroupOverAllRolesResponse"/>
<xs:element name="getRole" type="tns:getRole"/>
<xs:element name="getRoleResponse" type="tns:getRoleResponse"/>
<xs:element name="getUserRoles" type="tns:getUserRoles"/>
<xs:element name="getUserRolesResponse" type="tns:getUserRolesResponse"/>
<xs:element name="searchRole" type="tns:searchRole"/>
<xs:element name="searchRoleResponse" type="tns:searchRoleResponse"/>
<xs:element name="setLdapGroupRoleAssignments" type="tns:setLdapGroupRoleAssignments"/>
<xs:element name="setLdapGroupRoleAssignmentsResponse" type="tns:setLdapGroupRoleAssignmentsResponse"/>
<xs:element name="setUserRoles" type="tns:setUserRoles"/>
<xs:element name="setUserRolesResponse" type="tns:setUserRolesResponse"/>
<xs:element name="updateRole" type="tns:updateRole"/>
<xs:element name="updateRoleResponse" type="tns:updateRoleResponse"/>
<xs:complexType name="getBoardRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="boardId" type="ns1:boardNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getBoardRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:boardRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="setLdapGroupRoleAssignments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ldapGroupRoleAssignment" type="ns2:ldapGroupRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="setLdapGroupRoleAssignmentsResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="setUserRoles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" type="ns2:userRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="setUserRolesResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="searchRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="searchString" type="xs:string"/>
      <xs:element minOccurs="0" name="pageFilter" type="ns2:rolePageFilter"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchRoleResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:role"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLdapGroupOverAllRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldapGroupId" type="ns2:ldapGroupNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLdapGroupOverAllRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:overAllLdapRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLdapGroupBoardRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldapGroupId" type="ns2:ldapGroupNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLdapGroupBoardRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:boardLdapRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUserRoles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="rolesAssignments" type="ns2:userRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteUserRolesResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="updateRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleUpdate" type="ns2:roleUpdate"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateRoleResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleId" type="ns2:roleNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns2:role"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleCreate" type="ns2:roleCreate"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns2:roleIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getApplicationRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicationId" type="ns4:applicationNameVersionOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getApplicationRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:applicationRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteLdapGroupRoleAssignments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ldapGroupRoleAssignment" type="ns2:ldapGroupRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteLdapGroupRoleAssignmentsResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getLdapGroupApplicationRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldapGroupId" type="ns2:ldapGroupNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLdapGroupApplicationRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:applicationLdapRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="ns3:userNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:userRoleAssignment"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleId" type="ns2:roleNameOrIdToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteRoleResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fault="urn:codecenter.blackducksoftware.com:sdk:v7.0:role.data" xmlns:ns1="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data" xmlns:ns2="urn:codecenter.blackducksoftware.com:sdk:v7.0:user.data" xmlns:ns3="urn:codecenter.blackducksoftware.com:sdk:v7.0:application.data" xmlns:ns4="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:role.data" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:role.data" version="1.0">
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data"/>
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:user.data"/>
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:application.data"/>
<xs:import namespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data"/>
<xs:complexType name="boardRoleAssignment">
    <xs:complexContent>
      <xs:extension base="tns:userRoleAssignment">
        <xs:sequence>
          <xs:element minOccurs="0" name="boardIdToken" type="ns1:boardIdToken"/>
          <xs:element minOccurs="0" name="boardNameToken" type="ns1:boardNameToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="userRoleAssignment">
    <xs:complexContent>
      <xs:extension base="tns:roleAssignment">
        <xs:sequence>
          <xs:element minOccurs="0" name="userIdToken" type="ns2:userIdToken"/>
          <xs:element minOccurs="0" name="userNameToken" type="ns2:userNameToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="roleAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleIdToken" type="tns:roleIdToken"/>
      <xs:element minOccurs="0" name="roleNameToken" type="tns:roleNameToken"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="roleIdToken">
    <xs:complexContent>
      <xs:extension base="tns:roleNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="roleNameOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="roleNameToken">
    <xs:complexContent>
      <xs:extension base="tns:roleNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="applicationRoleAssignment">
    <xs:complexContent>
      <xs:extension base="tns:userRoleAssignment">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationIdToken" type="ns3:applicationIdToken"/>
          <xs:element minOccurs="0" name="applicationNameVersionToken" type="ns3:applicationNameVersionToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="userOverAllRoleAssignment">
    <xs:complexContent>
      <xs:extension base="tns:userRoleAssignment">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="ldapGroupRoleAssignment">
    <xs:complexContent>
      <xs:extension base="tns:roleAssignment">
        <xs:sequence>
          <xs:element minOccurs="0" name="ldapGroupIdToken" type="tns:ldapGroupIdToken"/>
          <xs:element minOccurs="0" name="ldapGroupNameToken" type="tns:ldapGroupNameToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="ldapGroupIdToken">
    <xs:complexContent>
      <xs:extension base="tns:ldapGroupNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="ldapGroupNameOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="ldapGroupNameToken">
    <xs:complexContent>
      <xs:extension base="tns:ldapGroupNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="boardLdapRoleAssignment">
    <xs:complexContent>
      <xs:extension base="tns:ldapGroupRoleAssignment">
        <xs:sequence>
          <xs:element minOccurs="0" name="boardIdToken" type="ns1:boardIdToken"/>
          <xs:element minOccurs="0" name="boardNameToken" type="ns1:boardNameToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="applicationLdapRoleAssignment">
    <xs:complexContent>
      <xs:extension base="tns:ldapGroupRoleAssignment">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationIdToken" type="ns3:applicationIdToken"/>
          <xs:element minOccurs="0" name="applicationNameVersionToken" type="ns3:applicationNameVersionToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="overAllLdapRoleAssignment">
    <xs:complexContent>
      <xs:extension base="tns:ldapGroupRoleAssignment">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="rolePageFilter">
    <xs:complexContent>
      <xs:extension base="ns4:pageFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="roleType" type="tns:roleTypeEnum"/>
          <xs:element minOccurs="0" name="sortedColumn" type="tns:roleColumn"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="role">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="locked" type="xs:boolean"/>
      <xs:element minOccurs="0" name="name" type="tns:roleNameToken"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="tns:permissionEnum"/>
      <xs:element minOccurs="0" name="roleId" type="tns:roleIdToken"/>
      <xs:element minOccurs="0" name="roleType" type="tns:roleTypeEnum"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="roleUpdate">
    <xs:complexContent>
      <xs:extension base="tns:roleCreate">
        <xs:sequence>
          <xs:element minOccurs="0" name="roleId" type="tns:roleIdToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="roleCreate">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="tns:roleNameToken"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="tns:permissionEnum"/>
      <xs:element minOccurs="0" name="roleType" type="tns:roleTypeEnum"/>
    </xs:sequence>
  </xs:complexType>
<xs:simpleType name="roleTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OVERALL"/>
      <xs:enumeration value="APPLICATION"/>
      <xs:enumeration value="BOARD"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="roleColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="name"/>
      <xs:enumeration value="description"/>
      <xs:enumeration value="locked"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="permissionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PERMISSION_ACCESS"/>
      <xs:enumeration value="PERMISSION_APP_ADDCOMPONENTUSE"/>
      <xs:enumeration value="PERMISSION_APP_ASSIGN_WORKFLOW"/>
      <xs:enumeration value="PERMISSION_APP_CREATE"/>
      <xs:enumeration value="PERMISSION_APP_CREATEASCOMPONENT"/>
      <xs:enumeration value="PERMISSION_APP_DELETE"/>
      <xs:enumeration value="PERMISSION_APP_DELETECOMPONENTUSE"/>
      <xs:enumeration value="PERMISSION_APP_READ"/>
      <xs:enumeration value="PERMISSION_APP_UPDATE"/>
      <xs:enumeration value="PERMISSION_APP_UPDATECOMPONENTUSE"/>
      <xs:enumeration value="PERMISSION_APP_UPDATEREQUESTLICENSE"/>
      <xs:enumeration value="PERMISSION_BOARD_APP_ACCEPTREJECT"/>
      <xs:enumeration value="PERMISSION_BOARD_COMP_ACCEPTREJECT"/>
      <xs:enumeration value="PERMISSION_BOARD_REVIEW"/>
      <xs:enumeration value="PERMISSION_COMP_CREATE"/>
      <xs:enumeration value="PERMISSION_COMP_DELETE"/>
      <xs:enumeration value="PERMISSION_COMP_READ"/>
      <xs:enumeration value="PERMISSION_COMP_UPDATE"/>
      <xs:enumeration value="PERMISSION_CONFIG_CREATE"/>
      <xs:enumeration value="PERMISSION_CONFIG_DELETE"/>
      <xs:enumeration value="PERMISSION_CONFIG_READ"/>
      <xs:enumeration value="PERMISSION_CONFIG_READAPPTEAM"/>
      <xs:enumeration value="PERMISSION_CONFIG_READBOARDTEAM"/>
      <xs:enumeration value="PERMISSION_CONFIG_UPDATE"/>
      <xs:enumeration value="PERMISSION_CONFIG_UPDATEAPPTEAM"/>
      <xs:enumeration value="PERMISSION_CONFIG_UPDATEBOARDTEAM"/>
      <xs:enumeration value="PERMISSION_OBLIGATION_FULFILLMENT"/>
      <xs:enumeration value="PERMISSION_OBLIGATION_MANAGEMENT"/>
      <xs:enumeration value="PERMISSION_SYNC_CONFLICT_RESOLVE"/>
      <xs:enumeration value="PERMISSION_UPDATECOMPONENTUSE_OVERRIDE"/>
      <xs:enumeration value="PERMISSION_VIEW_RISK_PROFILE"/>
      <xs:enumeration value="PERMISSION_COMP_CREATE_FROM_KB"/>
      <xs:enumeration value="PERMISSION_WEB_RESOURCE_ACCESS"/>
      <xs:enumeration value="PERMISSION_PROMOTE_TO_KB_RELEASE_COMPONENT"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:fault" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:fault">
  <xs:element name="sdkFaultDetails" type="tns:sdkFaultDetails"/>
  <xs:complexType name="sdkFaultDetails">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="causedByErrors" nillable="true" type="tns:sdkError"/>
      <xs:element minOccurs="0" name="errorCode" type="tns:errorCode"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="extension restriction" name="sdkError">
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="errorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO_COMPONENT_ID_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_NAMEVERSION_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENT_ID_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENT_NAME_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_FOR_KBCOMPONENT_ID_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_FOR_KBCOMPONENT_NAME_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_FOR_KBCOMPONENT_RELEASE_ID_FOUND"/>
      <xs:enumeration value="NO_COMPONENT_FOR_KBCOMPONENT_RELEASE_NAMEVERSION_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENTRELEASE_ID_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENTRELEASE_NAMEVERSION_FOUND"/>
      <xs:enumeration value="NO_KB_COMPONENT_FOUND"/>
      <xs:enumeration value="NO_APPLICATION_ID_FOUND"/>
      <xs:enumeration value="NO_APPLICATION_NAMEVERISON_FOUND"/>
      <xs:enumeration value="APPLICATION_CREATE_NONAME"/>
      <xs:enumeration value="APPLICATION_CREATE_NOVERSION"/>
      <xs:enumeration value="APPLICATION_UPDATE_NONAME"/>
      <xs:enumeration value="APPLICATION_UPDATE_NOVERSION"/>
      <xs:enumeration value="APPLICATION_CREATE_INVALID_ROLE"/>
      <xs:enumeration value="APPLICATION_UPDATE_INVALID_ROLE"/>
      <xs:enumeration value="APPLICATION_UPDATE_OWNER_ROLE_REQUIRED"/>
      <xs:enumeration value="DATE_CANNOT_BE_NULL"/>
      <xs:enumeration value="NO_USER_NAME_FOUND"/>
      <xs:enumeration value="NO_USER_ID_FOUND"/>
      <xs:enumeration value="NO_USER_ID_OR_USERNAME_FOUND"/>
      <xs:enumeration value="APPLICATION_NAME_TOO_LONG"/>
      <xs:enumeration value="NO_WORKFLOW_NAME_FOUND"/>
      <xs:enumeration value="NO_WORKFLOW_ID_FOUND"/>
      <xs:enumeration value="NO_ROLE_NAME_FOUND"/>
      <xs:enumeration value="NO_ROLE_ID_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTE_NAME_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTE_VALUE_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTE_ID_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTEGROUP_NAME_FOUND"/>
      <xs:enumeration value="NO_ATTRIBUTEGROUP_ID_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_ATTRIBUTEGROUP_NAME_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_ATTRIBUTEGROUP_ID_FOUND"/>
      <xs:enumeration value="NO_REQUEST_FOUND"/>
      <xs:enumeration value="NO_REQUEST_ID_FOUND"/>
      <xs:enumeration value="NO_REQUEST_LICENSE_FOUND"/>
      <xs:enumeration value="METHOD_NOT_YET_IMPLEMENTED"/>
      <xs:enumeration value="INVALID_CREDENTIALS"/>
      <xs:enumeration value="INSUFFICIENT_PERMISSION"/>
      <xs:enumeration value="SDK_LICENSE_UNAVAILABLE"/>
      <xs:enumeration value="SDK_LICENSE_EXPIRED"/>
      <xs:enumeration value="UNKNOWN_ERROR"/>
      <xs:enumeration value="GENERIC_ERROR"/>
      <xs:enumeration value="TASK_NOT_PRESENT"/>
      <xs:enumeration value="NO_PERMISSION_UPDATE_REQUEST_LICENSE"/>
      <xs:enumeration value="TODO_CONVERT_EXCEPTION"/>
      <xs:enumeration value="INVALID_SORT_KEY"/>
      <xs:enumeration value="UNEXPECTED_EXCEPTION_ERROR"/>
      <xs:enumeration value="CLIENT_WRITING_ERROR"/>
      <xs:enumeration value="PAGE_FILTER_NULL"/>
      <xs:enumeration value="PAGE_FILTER_INVALID_FIRSTROW"/>
      <xs:enumeration value="PAGE_FILTER_INVALID_LASTROW"/>
      <xs:enumeration value="PAGE_FILTER_INVALID_RANGE"/>
      <xs:enumeration value="PROTEX_SERVER_USER_ASSOCIATED"/>
      <xs:enumeration value="PROTEX_SERVER_CREDENTIALS_ASSOCIATED"/>
      <xs:enumeration value="APPROVAL_RULE_NOT_VALID_ATTRIBUTE"/>
      <xs:enumeration value="APPROVAL_RULE_NOT_VALID_ATTRIBUTE_TYPE"/>
      <xs:enumeration value="APPROVAL_RULE_NOT_VALID"/>
      <xs:enumeration value="NO_LICENSE_ID_FOUND"/>
      <xs:enumeration value="NO_LICENSE_NAME_FOUND"/>
      <xs:enumeration value="NO_SERVER_ID_FOUND"/>
      <xs:enumeration value="NO_SERVER_NAME_FOUND"/>
      <xs:enumeration value="NO_PROTEX_PROJECT_ASSOCIATED"/>
      <xs:enumeration value="NO_PROJECT_ID_FOUND"/>
      <xs:enumeration value="NO_PROJECT_NAME_FOUND"/>
      <xs:enumeration value="NO_CREDENTIALS_FOUND"/>
      <xs:enumeration value="PROTEX_SERVER_NOT_REACHABLE"/>
      <xs:enumeration value="NO_PROTEX_PROJECT_FOUND"/>
      <xs:enumeration value="PROJECT_ALREADY_ASSOCIATED"/>
      <xs:enumeration value="APPLICATION_ALREADY_ASSOCIATED"/>
      <xs:enumeration value="PROTEX_SDK_FAULT"/>
      <xs:enumeration value="WEBSERVICE_EXCEPTION"/>
      <xs:enumeration value="NO_APPLICATION_WITH_ASSOCIATED_PROTEX_PROJECT_FOUND"/>
      <xs:enumeration value="APPLICATION_NOT_ASSOCIATED_WITH_PROTEX_PROJECT"/>
      <xs:enumeration value="NO_APPLICATION_ASSOCIATED_TO_PROTEX_PROJECT"/>
      <xs:enumeration value="NO_PROTEX_SERVER_ASSOCIATED_WITH_APPLICATION_FOUND"/>
      <xs:enumeration value="INVALID_PROTEX_CREDENTIALS_FOR_SUB_PROJECTS_FOUND"/>
      <xs:enumeration value="APPLICATIN_NO_VALIDATION"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_ID_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_NAME_FOUND"/>
      <xs:enumeration value="NO_TASK_DEFINITION_ID_FOUND"/>
      <xs:enumeration value="NO_TASK_DEFINITION_NAME_FOUND"/>
      <xs:enumeration value="INVALID_APPLICATION_STATIC_FIELD_ENUM_FOUND"/>
      <xs:enumeration value="INVALID_COMPONENT_STATIC_FIELD_ENUM_FOUND"/>
      <xs:enumeration value="INVALID_COMPONENTUSE_STATIC_FIELD_ENUM_FOUND"/>
      <xs:enumeration value="NO_NULL_COMPONENT_NAME_VERSION"/>
      <xs:enumeration value="NO_EMPTY_COMPONENT_NAME_VERSION"/>
      <xs:enumeration value="NO_NULL_COMPONENT_ATTACHMENT_ID"/>
      <xs:enumeration value="NO_EMPTY_COMPONENT_ATTACHMENT_ID"/>
      <xs:enumeration value="NO_NULL_APPROVAL_STATUS"/>
      <xs:enumeration value="NO_EMPTY_TRANSITION_NAME"/>
      <xs:enumeration value="NO_GLOBAL_APPROVAL_CRITERIA_ID_FOUND"/>
      <xs:enumeration value="NO_GLOBAL_APPROVAL_CRITERIA_FOUND_FOR_COMPONENT_APPROVAL"/>
      <xs:enumeration value="NO_TANSITION_NAME_FOUND"/>
      <xs:enumeration value="NO_NULL_TASKINSTANCE_ID"/>
      <xs:enumeration value="NO_NULL_PASSWORD"/>
      <xs:enumeration value="NO_EMPTY_PASSWORD"/>
      <xs:enumeration value="NO_NULL_USER_NAME"/>
      <xs:enumeration value="NO_NULL_NAME_FOR_CLONE_APPLICATION"/>
      <xs:enumeration value="NO_NULL_VERSION_FOR_CLONE_APPLICATION"/>
      <xs:enumeration value="NO_NULL_APPROVAL_NAME"/>
      <xs:enumeration value="ERROR_READING_INPUT_FILE_STREAM"/>
      <xs:enumeration value="NO_BOARD_ID_FOUND"/>
      <xs:enumeration value="NO_BOARD_NAME_FOUND"/>
      <xs:enumeration value="NO_NULL_COMPONENT_VERSION"/>
      <xs:enumeration value="NO_NULL_COMPONENT_NAME"/>
      <xs:enumeration value="NO_NULL_APPLICATION_VERSION"/>
      <xs:enumeration value="NO_NULL_APPLICATION_NAME"/>
      <xs:enumeration value="NO_LATEST_WORKFLOW_VERSION"/>
      <xs:enumeration value="NO_ATTACHMENT_FOUND_WITH_NAME"/>
      <xs:enumeration value="APPLICATION_CREATE_BEAN_NULL"/>
      <xs:enumeration value="APPLICATION_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="APPROVAL_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="COMPONENT_CREATE_BEAN_NULL"/>
      <xs:enumeration value="COMPONENT_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="COMPONENT_ATTACHMENT_CREATE_BEAN_NULL"/>
      <xs:enumeration value="REQUEST_CREATE_BEAN_NULL"/>
      <xs:enumeration value="REQUEST_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="REQUEST_ALREADY_SUBMITTED"/>
      <xs:enumeration value="USER_CREATE_BEAN_NULL"/>
      <xs:enumeration value="USER_UPDATE_BEAN_NULL"/>
      <xs:enumeration value="REQUIRED_ATTRIBUTE_ID_NOT_FOUND"/>
      <xs:enumeration value="REQUIRED_ATTRIBUTE_VALUE_EMPTY"/>
      <xs:enumeration value="NO_VALID_ATTRIBUTE_GROUP_TYPE_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_CRITERIA_ID_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_CRITERIA_FOUND_FOR_REQUEST_APPROVAL"/>
      <xs:enumeration value="NO_NULL_TASK_INSTANCE_ID"/>
      <xs:enumeration value="NO_ATTACHMENT_FOUND_WITH_ID"/>
      <xs:enumeration value="ATTACHMENT_IO_ERROR"/>
      <xs:enumeration value="ATTACHMENT_SQL_ERROR"/>
      <xs:enumeration value="NOT_A_DEVELOPER_USER"/>
      <xs:enumeration value="NO_APPEAL_ACTION_FOUND_FOR_REQUEST"/>
      <xs:enumeration value="ATTRIBUTE_BEAN_FOUND_NULL"/>
      <xs:enumeration value="ATTRIBUTE_NAME_FOUND_WITH_NULL"/>
      <xs:enumeration value="ATTRIBUTE_TYPE_FOUND_WITH_NULL"/>
      <xs:enumeration value="VULNERABILITY_STATUS_BEAN_FOUND_NULL"/>
      <xs:enumeration value="VULNERABILITY_STATUS_BEAN_FOUND_UPDATE"/>
      <xs:enumeration value="VULNERABILITY_STATUS_NAME_FOUND_NULL"/>
      <xs:enumeration value="NO_VULNERABILITY_STATUS_ID_FOUND"/>
      <xs:enumeration value="NO_VULNERABILITY_ID_FOUND"/>
      <xs:enumeration value="NO_VULNERABILITY_STATUS_NAME_FOUND"/>
      <xs:enumeration value="NO_VULNERABILITY_NAME_FOUND"/>
      <xs:enumeration value="APPLICATION_ATTACHMENT_CREATE_BEAN_NULL"/>
      <xs:enumeration value="PROTEX_SUB_PROJECT_FOUND"/>
      <xs:enumeration value="ROLE_NOT_ASSIGNED_FOR_IMPORTING_APPLICATION"/>
      <xs:enumeration value="NOT_AN_APPLICATION_ROLE"/>
      <xs:enumeration value="ATTRIBUTE_GROUP_NAME_FOUND_NULL"/>
      <xs:enumeration value="NOT_A_VALID_ROLE_ASSIGNMENT_FOR_APPLICATION"/>
      <xs:enumeration value="ATTRIBUTE_GROUP_UPDATE_BEAN_FOUND_NULL"/>
      <xs:enumeration value="ATTRIBUTE_GROUP_TYPE_NULL"/>
      <xs:enumeration value="ATTACHMENT_FILE_SIZE_ZERO"/>
      <xs:enumeration value="ATTACHMENT_FILE_SIZE_MAX"/>
      <xs:enumeration value="NOT_A_VALID_APPROVER_FOR_APPROVAL"/>
      <xs:enumeration value="GLOBAL_WORKFLOW_CAN_NOT_BE_USED_IN_APPLICATION"/>
      <xs:enumeration value="KNOWLEDGE_BASE_VERSION_NOT_SUPPORTED_FOR_IMPORT"/>
      <xs:enumeration value="CAN_NOT_IMPORT_VALIDATE_WHEN_UNRESOLVED_CONFLICTS"/>
      <xs:enumeration value="VALIDATE_UNSUPPORTED_SERVER_UNSYNCHRONIZED"/>
      <xs:enumeration value="KNOWLEDGE_BASE_VERSION_NOT_SUPPORTED_FOR_VALIDATE"/>
      <xs:enumeration value="APPLICATION_NAME_ALREADY_EXIST"/>
      <xs:enumeration value="NO_KBCOMPONENTRELEASE_NAME_FOUND"/>
      <xs:enumeration value="NO_KBCOMPONENTRELEASE_VERSION_FOUND"/>
      <xs:enumeration value="CAN_NOT_ADD_USER_TO_LOCKED_APPLICATION_TEAM"/>
      <xs:enumeration value="IN_ACTIVE_USER_CAN_NOT_BE_ADDED_IN_APPLICATION_TEAM"/>
      <xs:enumeration value="CAN_NOT_REMOVE_USER_TO_LOCKED_APPLICATION_TEAM"/>
      <xs:enumeration value="IN_ACTIVE_USER_CAN_NOT_BE_OWNER_OF_IMPORT_APPLICATION"/>
      <xs:enumeration value="INVALID_COMPONENTUSE_USAGE_VALUE"/>
      <xs:enumeration value="ATTRIBUTE_OPTION_VALUE_FOUND_WITH_NULL"/>
      <xs:enumeration value="NO_COMMENT_FOUND_FOR_SEND_BACK"/>
      <xs:enumeration value="APPLICATION_NAME_VERSION_ALREADY_EXIST"/>
      <xs:enumeration value="CANNOT_DELETE_UPDATE_APPLICATION_LOCKED"/>
      <xs:enumeration value="CANNOT_DELETE_USER_IF_APPLICATION_OWNER"/>
      <xs:enumeration value="COMPONENT_ALREADY_EXISTS"/>
      <xs:enumeration value="COMPONENT_ALREADY_EXISTS_IN_REQUEST"/>
      <xs:enumeration value="CANNOT_DELETE_APPLICATION_PUBLISHED_AS_COMPONENT"/>
      <xs:enumeration value="ATTRIBUTE_NAME_ALREADY_EXISTS"/>
      <xs:enumeration value="ATTRIBUTE_VALUES_CANNOT_BE_EMPTY"/>
      <xs:enumeration value="ATTRIBUTE_FORMAT_VALUE_FIELD_DATE"/>
      <xs:enumeration value="ATTRIBUTE_FORMAT_FIELD_NUMBER"/>
      <xs:enumeration value="ATTRIBUTE_FORMAT_FIELD_URL"/>
      <xs:enumeration value="USER_ALREADY_EXIST"/>
      <xs:enumeration value="IN_ACTIVE_USER_CAN_NOT_BE_SET_AS_OWNER_FOR_APPLICATION"/>
      <xs:enumeration value="COMPONENT_WITH_SAME_NAME_VER_IN_KB"/>
      <xs:enumeration value="COMPONENT_WITH_SAME_NAME_IN_KB"/>
      <xs:enumeration value="COMPONENT_IN_USE"/>
      <xs:enumeration value="ATTRIBUTE_ASSOCIATION_EXISTS"/>
      <xs:enumeration value="ATTRIBUTE_ASSOCIATION_EXISTS_AND_IN_USE"/>
      <xs:enumeration value="WORKFLOW_CLONE_APPLICATION_WORKFLOW_NOEXIST"/>
      <xs:enumeration value="DUPLICATE_OBJECT_CANNOT_BE_CREATED_UPDATED"/>
      <xs:enumeration value="CAN_NOT_CREATE_REQUEST_APPLICATION_LOCKED"/>
      <xs:enumeration value="CAN_NOT_UPDATE_REQUEST_APPLICATION_LOCKED"/>
      <xs:enumeration value="CAN_NOT_DELETE_REQUEST_APPLICATION_LOCKED"/>
      <xs:enumeration value="USER_NAME_CAN_NOT_EMPTY_OR_WHITESPACE"/>
      <xs:enumeration value="USER_EMAIL_ADDRESS_NOT_VALID"/>
      <xs:enumeration value="VULNERABILITY_STATUS_ALREADY_EXISTS"/>
      <xs:enumeration value="VULNERABILITY_STATUS_CONFIGURATION_ERROR"/>
      <xs:enumeration value="REQUEST_WITH_SEND_BACK_REQUESTER_STATUS"/>
      <xs:enumeration value="REQUEST_WITH_SEND_BACK_REQUESTER_FOR_APPLICATION_STATUS"/>
      <xs:enumeration value="CAN_NOT_RESET_WORKFLOW_REQUEST_APPLICATION_LOCKED"/>
      <xs:enumeration value="CAN_NOT_ADD_DEVELOPERS_APPLICATION_LOCKED"/>
      <xs:enumeration value="CAN_NOT_REMOVE_DEVELOPERS_APPLICATION_LOCKED"/>
      <xs:enumeration value="REQUEST_COMPLETION_FAILURE"/>
      <xs:enumeration value="REQUEST_WITH_SEND_BACK_REQUESTER_FOR_APPLICATIONREQUEST_STATUS"/>
      <xs:enumeration value="COMPONENT_TYPE_NOT_VALID"/>
      <xs:enumeration value="COMPONENT_ADDITIONAL_INFORMATION_NOT_VALID"/>
      <xs:enumeration value="REQUEST_NOT_IN_PENDING_STATE"/>
      <xs:enumeration value="NO_REQUEST_FOUND_FOR_COMPONENT"/>
      <xs:enumeration value="PREVIOUS_NODE_REJECTED"/>
      <xs:enumeration value="NO_EXTERNAL_NAMESPACE_REQUEST"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NAME_TOO_LONG"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_NAMESPACE_KEY"/>
      <xs:enumeration value="NO_EXTERNAL_NAMESPACE_UPDATE_REQUEST"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NOT_FOUND"/>
      <xs:enumeration value="NO_EXTERNAL_NAMESPACE_KEY"/>
      <xs:enumeration value="NO_EXTERNAL_ID_INFO"/>
      <xs:enumeration value="NO_EXTERNAL_ID"/>
      <xs:enumeration value="NO_KB_RELEASE_ID"/>
      <xs:enumeration value="EXTERNAL_ID_MAPPING_FOR_OBJECT_NOT_FOUND"/>
      <xs:enumeration value="EXTERNAL_ID_MAPPING_FOR_EXTERNAL_ID_NOT_FOUND"/>
      <xs:enumeration value="EXTERNAL_NAMESPACE_NOTNULL_OR_EMPTY_NAME_OR_NAMESPACE"/>
      <xs:enumeration value="NO_CODE_CENTER_OBJECT_ID"/>
      <xs:enumeration value="NO_CODE_CENTER_OBJECT_KEY"/>
      <xs:enumeration value="DUPLICATE_EXTERNAL_ID_MAPPING"/>
      <xs:enumeration value="NO_CODE_CENTER_OBJECT_TYPE"/>
      <xs:enumeration value="CONFLICTING_CODE_CENTER_OBJECT_TYPES"/>
      <xs:enumeration value="NO_EXTERNAL_ID_MAPPING"/>
      <xs:enumeration value="VALIDATION_BASE_INVALID_NVD_EXTERNAL_IDENTIFIERS"/>
      <xs:enumeration value="ATTRIBUTE_GROUP_NAME_ALREADY_EXISTS"/>
      <xs:enumeration value="SORT_COLUMN_NOT_SUPPORTED"/>
      <xs:enumeration value="SETTINGS_RESCHEDULE_ALREADY_RUNNING"/>
      <xs:enumeration value="SETTINGS_RESCHEDULE_STOPPED"/>
      <xs:enumeration value="DECLARED_LICENSE_CANNOT_BE_MORE_THAN_MAX_LENGH"/>
      <xs:enumeration value="ATTRIBUTE_ID_OR_NAME_CAN_NOT_NULL"/>
      <xs:enumeration value="APPROVER_SELECT_AT_REQUEST_TIME_IS_NOT_ENABLED"/>
      <xs:enumeration value="APPROVER_NOT_AVAILABLE_FOR_ALL_APPROVAL_SELECT_AT_REQUEST_TIME"/>
      <xs:enumeration value="VALIDATION_APPROVAL_NOT_IN_WF_OR_NO_REQUEST_APPROVER_SELECTION_OPTION"/>
      <xs:enumeration value="CAN_NOT_CREATE_COMPONENT_WITH_NAME_VERSION_MIMATCH_FOR_RELEASE"/>
      <xs:enumeration value="CAN_NOT_CREATE_COMPONENT_WITH_NAME_MISMATCH_FORGENERIC"/>
      <xs:enumeration value="IN_ACTIVE_USER_CAN_NOT_BE_USED"/>
      <xs:enumeration value="REQUEST_NOT_SUBMITTED"/>
      <xs:enumeration value="APPLICATION_LOCKED"/>
      <xs:enumeration value="NOT_VALID_LIST_OF_ROLES"/>
      <xs:enumeration value="USER_NAME_ID_CAN_NOT_EMPTY_OR_WHITESPACE"/>
      <xs:enumeration value="BOARD_NAME_ID_CAN_NOT_EMPTY"/>
      <xs:enumeration value="USER_ROLE_ASSIGNMENT_NULL"/>
      <xs:enumeration value="INVALID_BOARD_ROLE"/>
      <xs:enumeration value="INVALID_USER_ROLE"/>
      <xs:enumeration value="INVALID_OVERALL_ROLE"/>
      <xs:enumeration value="NO_LDAP_AUTHENTICATION_TYPE"/>
      <xs:enumeration value="LDAP_GROUP_NAME_ID_CAN_NOT_EMPTY"/>
      <xs:enumeration value="NOT_VALID_LIST_OF_LDAP_GROUP_ROLES"/>
      <xs:enumeration value="LDAP_GROUP_NOT_FOUND"/>
      <xs:enumeration value="NO_LDAP_GROUPROLE_FOR_OVERALL"/>
      <xs:enumeration value="NO_LDAP_GROUPROLE_FOR_BOARD"/>
      <xs:enumeration value="NO_LDAP_GROUPROLE_FOR_APPLICATION"/>
      <xs:enumeration value="REQUEST_PREVIOUS_NODE_INCOMPLETE"/>
      <xs:enumeration value="NO_NODE_ID_FOUND"/>
      <xs:enumeration value="INVALID_DECISION_NODE_ID"/>
      <xs:enumeration value="INVALID_DECISION_NODE_NAME"/>
      <xs:enumeration value="NO_VALID_WORKFLOW"/>
      <xs:enumeration value="NO_DATA_FOUND"/>
      <xs:enumeration value="NOT_RELEASE_COMPONENT"/>
      <xs:enumeration value="RELEASEID_CAN_NOT_NULL"/>
      <xs:enumeration value="LICENSEORFAMILYID_CAN_NOT_NULL"/>
      <xs:enumeration value="PAGEFILTER_CAN_NOT_NULL"/>
      <xs:enumeration value="RELEASE_ID_AND_SCAN_ID_CAN_NOT_NULL"/>
      <xs:enumeration value="PAGENO_AND_PAGESIZE_CAN_NOT_NULL"/>
      <xs:enumeration value="FAMILY_ID_NULL"/>
      <xs:enumeration value="LICENSE_ID_NULL"/>
      <xs:enumeration value="FILEID_NOT_NULL"/>
      <xs:enumeration value="FILEID_AND_SCAN_ID_NOT_NULL"/>
      <xs:enumeration value="NOT_FOUND_EXCEPTION"/>
      <xs:enumeration value="NO_RELEASE_ID_NULL"/>
      <xs:enumeration value="AUTHENTICATION_FAILED_EXCEPTION"/>
      <xs:enumeration value="NO_DATA_FOUND_EXCEPTION"/>
      <xs:enumeration value="UNABLE_DISPLAY_DATA_FAMILY"/>
      <xs:enumeration value="UNABLE_DISPLAY_DATA_LICENSE"/>
      <xs:enumeration value="DEEPLICENCE_SERVER_NOT_REACHABLE"/>
      <xs:enumeration value="DEPRECATED_KBCOMPONENTRELEASE_COMPONENT_FOUND"/>
      <xs:enumeration value="DEPRECATED_COMPONENT_FOUND"/>
      <xs:enumeration value="VALIDATION_USER_NO_DELETE_ATTRIBUTE"/>
      <xs:enumeration value="VALIDATION_USER_NO_UPDATE_INACTIVE"/>
      <xs:enumeration value="ATTRIBUTE_USER_SUGGESTION_BOX_NOTSUPPORTED"/>
      <xs:enumeration value="CREDENTIAL_VALIDATION_REMOTE_EXCEPTION"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_BOARD_RULE_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_TASK_ASSIGNEE_RULE_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_TASK_GROUP_RULE_FOUND"/>
      <xs:enumeration value="NO_APPROVAL_DEFINITION_APPROVER_RULE_FOUND"/>
      <xs:enumeration value="NO_PERMISSION_TO_UPDATE_RULES"/>
      <xs:enumeration value="NO_RULE_TO_CONFIGURE"/>
      <xs:enumeration value="WRONG_SELECTION_TYPE_FOR_APPROVAL"/>
      <xs:enumeration value="APPROVAL_EXISTING_RULES_CANNOT_BE_REMOVED"/>
      <xs:enumeration value="APPROVAL_ALREADY_EXISTS"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_BEAN_NULL"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_NAME_ALREADY_EXIST"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_NAME_NOT_EMPTY"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_SERVICEURL_NOT_EMPTY"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_REQUESTMETHOD_NOT_EMPTY"/>
      <xs:enumeration value="WORKFLOWWEBRESOURCE_REQUESTMETHOD_NOT_VALID"/>
      <xs:enumeration value="NO_WORKFLOWWEBRESOURCE_ID_FOUND"/>
      <xs:enumeration value="NO_WORKFLOWWEBRESOURCE_NAME_FOUND"/>
      <xs:enumeration value="WEB_RESOURCE_TRANSITION_NOT_EXISTS"/>
      <xs:enumeration value="WEB_RESOURCE_TRANSITION_NULL"/>
      <xs:enumeration value="COMMENT_NOT_FOUND"/>
      <xs:enumeration value="WEB_RESOURCE_NULL"/>
      <xs:enumeration value="WEB_RESOURCE_TASK_ALREADY_COMPLETED"/>
      <xs:enumeration value="WEB_RESOURCE_DEF_NOT_FOUND"/>
      <xs:enumeration value="WEB_RESOURCE_APPLICATION_LOCKED"/>
      <xs:enumeration value="WEB_RESOURCE_CANNOT_RESET"/>
      <xs:enumeration value="WEB_RESOURCE_EXECUTION_ERROR"/>
      <xs:enumeration value="WEB_RESOURCE_WITHWORKFLOWREFERENCE_CANNOT_BE_DELETED"/>
      <xs:enumeration value="NO_NULL_DOWNLOADHASHTYPE_ALLOWED"/>
      <xs:enumeration value="NO_NULL_KB_COMPONENT_RELEASE_ID_ALLOWED"/>
      <xs:enumeration value="NO_NULL_OR_EMPTY_HASH_ALLOWED"/>
      <xs:enumeration value="ROLE_ALREADY_PRESENT"/>
      <xs:enumeration value="PERMISSION_NOT_PRESENT"/>
      <xs:enumeration value="ROLE_LOCKED"/>
      <xs:enumeration value="ROLE_GENERIC_VALIDATION_EXCEPTION"/>
      <xs:enumeration value="ROLE_CANNOT_BE_NULL"/>
      <xs:enumeration value="ROLE_NAME_CANNOT_BE_NULL_OR_EMPTY"/>
      <xs:enumeration value="ROLE_TYPE_ENUM_CANNOT_BE_NULL"/>
      <xs:enumeration value="ROLE_IN_USE"/>
      <xs:enumeration value="NO_TASK_PRESENT"/>
      <xs:enumeration value="INVALID_ORDER_FIELD"/>
      <xs:enumeration value="ENUM_CANNOT_BE_NULL"/>
      <xs:enumeration value="REPORT_ID_NULL"/>
      <xs:enumeration value="INVALID_MAIN_REPORT"/>
      <xs:enumeration value="INVALID_APPLICATION_REPORT"/>
      <xs:enumeration value="INVALID_COMPONENT_REPORT"/>
      <xs:enumeration value="NO_REPORT_FOUND_WITH_NAME"/>
      <xs:enumeration value="NO_REPORT_FOUND_WITH_ID"/>
      <xs:enumeration value="REPORT_PARAMETER_VALIDATION_ERROR"/>
      <xs:enumeration value="REPORT_PARAMETER_VALIDATION_INVALID_VALUE"/>
      <xs:enumeration value="REPORT_PARAMETER_VALIDATION_INVALID_TYPE"/>
      <xs:enumeration value="REPORT_VALIDATION_AUDIT_REPORT_FILTER_DATE_NULL"/>
      <xs:enumeration value="REPORT_VALIDATION_AUDIT_REPORT_FILTER_DATE_FUTURE"/>
      <xs:enumeration value="REPORT_VALIDATION_AUDIT_REPORT_FILTER_DATE_DIFFERENCE"/>
      <xs:enumeration value="REPORT_VALIDATION_AUDIT_REPORT_FILTER_DATE_INVALID"/>
      <xs:enumeration value="REPORT_VALIDATION_SEARCH_AUDIT_REPORT_FILTER_AUDITLOGID_NULL"/>
      <xs:enumeration value="REPORT_VALIDATION_SEARCH_AUDIT_REPORT_FILTER_AUDITLOGID_INVALID"/>
      <xs:enumeration value="REPORT_VALIDATION_SEARCH_AUDIT_LOG_FILTER_NULL"/>
      <xs:enumeration value="STARTDATE_CANNOT_BE_GREATER_THAN_ENDDATE"/>
      <xs:enumeration value="VALIDATION_WORKFLOW_LATEST_NOTEXIST"/>
      <xs:enumeration value="REQUEST_VULNE_UPDATE_NULL"/>
      <xs:enumeration value="REQUEST_VULNE_NOT_FOUND"/>
      <xs:enumeration value="SEARCH_BEAN_CANNOT_BE_NULL"/>
      <xs:enumeration value="ONLY_ONE_VALUE_ALLOWED"/>
      <xs:enumeration value="SEARCH_USING_INVALID_OPERATOR_FOR_ATTRIBUTE"/>
      <xs:enumeration value="INVALID_RELEASE_DATE"/>
      <xs:enumeration value="INVALID_ATTRIBUTE_NOT_INCLUDE_IN_SEARCH_INDEX"/>
      <xs:enumeration value="INVALID_ATTRIBUTE_VALUE"/>
      <xs:enumeration value="NO_SEARCH_FIELD_OPERATOR_VALUES_SET"/>
      <xs:enumeration value="ATTACHMENT_NAME_TOO_LONG"/>
      <xs:enumeration value="CANNOT_UPDATE_APPROVAl_CRITERIA"/>
      <xs:enumeration value="CANNOT_UPDATE_TASK"/>
      <xs:enumeration value="CANNOT_UPDATE_REQUEST_MOREINFO"/>
      <xs:enumeration value="GENERIC_CUSTOMCOMPONENTNAMEORIDTOKEN_CANNOT_NULL"/>
      <xs:enumeration value="NO_GENRIC_COMPONENT_FOUND_WITH_ID"/>
      <xs:enumeration value="NO_GENERIC_COMPONENT_FOUND_WITH_NAME"/>
      <xs:enumeration value="MULTIPLE_PARENT_COMPONENT_FOUND_WITH_NAME"/>
      <xs:enumeration value="WRONG_GENERICCOMPONENT_ID_PASSED"/>
      <xs:enumeration value="GENERICCOMPONENT_PASSED_MISMATCHED"/>
      <xs:enumeration value="VALIDATION_USER_SSO_ENABLED"/>
      <xs:enumeration value="CREDENTIAL_VALIDATION_SSO_ENABLED_SERVER"/>
      <xs:enumeration value="GENERIC_CUSTOMCOMPONENTIDTOKEN_IS_NULL"/>
      <xs:enumeration value="GENERIC_CUSTOMCOMPONENTNAMETOKEN_IS_NULL"/>
      <xs:enumeration value="GENERIC_COMPONENT_CANNOT_BE_UPDATED"/>
      <xs:enumeration value="COMPONENT_WHERE_USED_IN_APPLICATION"/>
      <xs:enumeration value="GENERIC_COMPONENT_FILED_EMPTY"/>
      <xs:enumeration value="NO_OBLIGATION_ID_FOUND"/>
      <xs:enumeration value="OBLIGATION_ID_CANNOT_NULL"/>
      <xs:enumeration value="NO_OBLIGATION_LABEL_FOUND"/>
      <xs:enumeration value="MULTIPLE_OBLIGATION_LABEL_FOUND"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SdkFault" nillable="true" type="tns:sdkFaultDetails"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data" version="1.0">
<xs:complexType abstract="true" name="pageFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstRowIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="lastRowIndex" type="xs:int"/>
      <xs:element minOccurs="0" name="sortAscending" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:attribute="urn:codecenter.blackducksoftware.com:sdk:v7.0:attribute.data" xmlns:common="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:approval.data" version="1.0">
<xs:complexType abstract="true" name="boardNameOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="boardNameToken">
    <xs:complexContent>
      <xs:extension base="tns:boardNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="boardIdToken">
    <xs:complexContent>
      <xs:extension base="tns:boardNameOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:administration="urn:codecenter.blackducksoftware.com:sdk:v7.0:administration.data" xmlns:attribute="urn:codecenter.blackducksoftware.com:sdk:v7.0:attribute.data" xmlns:cola="urn:codecenter.blackducksoftware.com:sdk:v7.0:cola.data" xmlns:common="urn:codecenter.blackducksoftware.com:sdk:v7.0:common.data" xmlns:tns="urn:codecenter.blackducksoftware.com:sdk:v7.0:application.data" targetNamespace="urn:codecenter.blackducksoftware.com:sdk:v7.0:application.data" version="1.0">
<xs:complexType name="applicationIdToken">
    <xs:complexContent>
      <xs:extension base="tns:applicationNameVersionOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="applicationNameVersionOrIdToken">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="applicationNameVersionToken">
    <xs:complexContent>
      <xs:extension base="tns:applicationNameVersionOrIdToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="version" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBoardRolesResponse">
    <wsdl:part name="parameters" element="tns:getBoardRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLdapGroupApplicationRolesResponse">
    <wsdl:part name="parameters" element="tns:getLdapGroupApplicationRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLdapGroupBoardRolesResponse">
    <wsdl:part name="parameters" element="tns:getLdapGroupBoardRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setUserRoles">
    <wsdl:part name="parameters" element="tns:setUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchRoleResponse">
    <wsdl:part name="parameters" element="tns:searchRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLdapGroupRoleAssignmentsResponse">
    <wsdl:part name="parameters" element="tns:deleteLdapGroupRoleAssignmentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRoleResponse">
    <wsdl:part name="parameters" element="tns:createRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLdapGroupOverAllRoles">
    <wsdl:part name="parameters" element="tns:getLdapGroupOverAllRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserRolesResponse">
    <wsdl:part name="parameters" element="tns:deleteUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SdkFault">
    <wsdl:part name="SdkFault" element="ns1:SdkFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserRoles">
    <wsdl:part name="parameters" element="tns:deleteUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRole">
    <wsdl:part name="parameters" element="tns:getRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRolesResponse">
    <wsdl:part name="parameters" element="tns:getUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRoleResponse">
    <wsdl:part name="parameters" element="tns:updateRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getApplicationRoles">
    <wsdl:part name="parameters" element="tns:getApplicationRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRole">
    <wsdl:part name="parameters" element="tns:deleteRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBoardRoles">
    <wsdl:part name="parameters" element="tns:getBoardRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setLdapGroupRoleAssignments">
    <wsdl:part name="parameters" element="tns:setLdapGroupRoleAssignments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLdapGroupOverAllRolesResponse">
    <wsdl:part name="parameters" element="tns:getLdapGroupOverAllRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setUserRolesResponse">
    <wsdl:part name="parameters" element="tns:setUserRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchRole">
    <wsdl:part name="parameters" element="tns:searchRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLdapGroupBoardRoles">
    <wsdl:part name="parameters" element="tns:getLdapGroupBoardRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRole">
    <wsdl:part name="parameters" element="tns:updateRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRoleResponse">
    <wsdl:part name="parameters" element="tns:deleteRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleResponse">
    <wsdl:part name="parameters" element="tns:getRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRole">
    <wsdl:part name="parameters" element="tns:createRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getApplicationRolesResponse">
    <wsdl:part name="parameters" element="tns:getApplicationRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLdapGroupRoleAssignments">
    <wsdl:part name="parameters" element="tns:deleteLdapGroupRoleAssignments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLdapGroupApplicationRoles">
    <wsdl:part name="parameters" element="tns:getLdapGroupApplicationRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setLdapGroupRoleAssignmentsResponse">
    <wsdl:part name="parameters" element="tns:setLdapGroupRoleAssignmentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRoles">
    <wsdl:part name="parameters" element="tns:getUserRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RoleApi">
    <wsdl:operation name="getBoardRoles">
      <wsdl:input name="getBoardRoles" message="tns:getBoardRoles">
    </wsdl:input>
      <wsdl:output name="getBoardRolesResponse" message="tns:getBoardRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setLdapGroupRoleAssignments">
      <wsdl:input name="setLdapGroupRoleAssignments" message="tns:setLdapGroupRoleAssignments">
    </wsdl:input>
      <wsdl:output name="setLdapGroupRoleAssignmentsResponse" message="tns:setLdapGroupRoleAssignmentsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setUserRoles">
      <wsdl:input name="setUserRoles" message="tns:setUserRoles">
    </wsdl:input>
      <wsdl:output name="setUserRolesResponse" message="tns:setUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchRole">
      <wsdl:input name="searchRole" message="tns:searchRole">
    </wsdl:input>
      <wsdl:output name="searchRoleResponse" message="tns:searchRoleResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLdapGroupOverAllRoles">
      <wsdl:input name="getLdapGroupOverAllRoles" message="tns:getLdapGroupOverAllRoles">
    </wsdl:input>
      <wsdl:output name="getLdapGroupOverAllRolesResponse" message="tns:getLdapGroupOverAllRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLdapGroupBoardRoles">
      <wsdl:input name="getLdapGroupBoardRoles" message="tns:getLdapGroupBoardRoles">
    </wsdl:input>
      <wsdl:output name="getLdapGroupBoardRolesResponse" message="tns:getLdapGroupBoardRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserRoles">
      <wsdl:input name="deleteUserRoles" message="tns:deleteUserRoles">
    </wsdl:input>
      <wsdl:output name="deleteUserRolesResponse" message="tns:deleteUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRole">
      <wsdl:input name="updateRole" message="tns:updateRole">
    </wsdl:input>
      <wsdl:output name="updateRoleResponse" message="tns:updateRoleResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <wsdl:input name="getRole" message="tns:getRole">
    </wsdl:input>
      <wsdl:output name="getRoleResponse" message="tns:getRoleResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRole">
      <wsdl:input name="createRole" message="tns:createRole">
    </wsdl:input>
      <wsdl:output name="createRoleResponse" message="tns:createRoleResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getApplicationRoles">
      <wsdl:input name="getApplicationRoles" message="tns:getApplicationRoles">
    </wsdl:input>
      <wsdl:output name="getApplicationRolesResponse" message="tns:getApplicationRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteLdapGroupRoleAssignments">
      <wsdl:input name="deleteLdapGroupRoleAssignments" message="tns:deleteLdapGroupRoleAssignments">
    </wsdl:input>
      <wsdl:output name="deleteLdapGroupRoleAssignmentsResponse" message="tns:deleteLdapGroupRoleAssignmentsResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLdapGroupApplicationRoles">
      <wsdl:input name="getLdapGroupApplicationRoles" message="tns:getLdapGroupApplicationRoles">
    </wsdl:input>
      <wsdl:output name="getLdapGroupApplicationRolesResponse" message="tns:getLdapGroupApplicationRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <wsdl:input name="getUserRoles" message="tns:getUserRoles">
    </wsdl:input>
      <wsdl:output name="getUserRolesResponse" message="tns:getUserRolesResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteRole">
      <wsdl:input name="deleteRole" message="tns:deleteRole">
    </wsdl:input>
      <wsdl:output name="deleteRoleResponse" message="tns:deleteRoleResponse">
    </wsdl:output>
      <wsdl:fault name="SdkFault" message="tns:SdkFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleApiServiceSoapBinding" type="tns:RoleApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBoardRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBoardRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBoardRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setLdapGroupRoleAssignments">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setLdapGroupRoleAssignments">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setLdapGroupRoleAssignmentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLdapGroupOverAllRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLdapGroupOverAllRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLdapGroupOverAllRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLdapGroupBoardRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLdapGroupBoardRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLdapGroupBoardRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getApplicationRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getApplicationRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getApplicationRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteLdapGroupRoleAssignments">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteLdapGroupRoleAssignments">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteLdapGroupRoleAssignmentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLdapGroupApplicationRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLdapGroupApplicationRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLdapGroupApplicationRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SdkFault">
        <soap:fault name="SdkFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleApiService">
    <wsdl:port name="RoleApiPort" binding="tns:RoleApiServiceSoapBinding">
      <soap:address location="http://localhost:9090/RoleApiPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
